<div ng-controller="clothoTool_pcr">

  <div class="form-group" style="text-align: center;">
    <div class="btn-group" style="display: inline-block;">
      <button ng-repeat="set in pcr_demoSets"
              class="btn btn-default"
              ng-class="{'btn-info' : showing == pcr_demoSets[$index]}"
              ng-click="setPCR($index)"
              popover="{{pcr_demoSets[$index].description}}"
              popover-trigger="mouseenter"
              popover-append-to-body="true">
        Set {{ $index + 1}}
      </button>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12">
      <label class="control-label">Primers</label>
    </div>

    <div class="col-sm-6">
      <input type="text"
             class="form-control"
             placeholder="Primer 1"
             ng-model="showing.primers[0]">
    </div>
    <div class="col-sm-6">
      <input type="text"
             class="form-control"
             placeholder="Primer 2"
             ng-model="showing.primers[1]">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="backbone">Backbone</label>

    <textarea class="form-control"
              id="backbone"
              placeholder="Backbone"
              ng-model="showing.backbone"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">PCR Product</label>

    <pre pcr-tool-predict
         backbone="showing.backbone"
         primers="showing.primers"></pre>
  </div>


</div>
