<div id="skipNav"><a href="#main">Skip Navigation</a></div>

<header id="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col width3">
                <a href="#"><img id="pageLogo" src="assets/logos/AndersonLabLogo.png" alt="Anderson Lab Logo" /></a>
            </div>
            <div class="col width7">
                <ul class="menu main">
                    <li><a ng-href="#/people">People</a></li>
                    <li><a ng-href="#/research">Research</a></li>
                    <li><a ng-href="#/software">Software</a></li>
                </ul>
            </div>
            <div class="col width6">
                <ul class="menu secondary">
                    <li><a href="">Education</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>


</header>

<div class="navbar">
    <div clotho-searchbar></div>
</div>