<!-- fifth way --- bootstrap a widget every time -->

<div>
    <h2>Adding Functionality</h2>

    <p>There are two primary ways of adding functionality to the angular stack after the app has been bootstrapped: Mixins or Bootstrapping.</p>

    <p>Mixins we'll go through first. Mixing in components means lazy-adding them (which is not supported natively by angular - so it's a bit of a hack). You can mix in controllers, filters, services, directives, and routes. You can also transclude templates.</p>

    <p>Once a component is mixed-in, it's in. We'll go into more detail each step.</p>

    <p>Bootstrapping a new app means that a new angular app is loaded into the page, and is autonomous from the parent app (i.e. what you see now). Bootstrapping is explained in more detail later.</p>

    <div class="alert">Currently, there's something wrong with bootstrapping. Bootstrapping messes up the queue or something.. not entirely sure what. But mixins and additional bootstraps are (not) working really funky after you bootstrap something. Working on it...</div>

</div>