<div class="clothoQuizQuestion">
  <h5 class="title" ng-bind-html="interpolatedQuestion"></h5>
  <!-- question itself -->

  <quiz-question-question></quiz-question-question>

  <!-- dynamic template -->
  <quiz-question-input></quiz-question-input>

  <!-- feedback -->

  <!-- unified submission + grading -->

  <div class="btn-group" ng-hide="submitted">
    <button class="btn btn-default"
            ng-click="grade()">
      Grade Quiz
    </button>
    <button class="btn btn-default"
            ng-if="quiz.options.checkAnswer"
            ng-click="checkAnswer()">
      Check Answer
    </button>
    <button class="btn btn-default"
            ng-if="quiz.options.showAnswer"
            ng-click="showAnswer()">
      Show Answer
    </button>
  </div>

  <div class="btn-group" ng-show="submitted">
    <button class="btn btn-danger"
            ng-if="quiz.options.allowMultiple"
            ng-show="response === false"
            ng-click="reset()">
      Try Again
    </button>
    <button class="btn btn-danger"
            ng-if="quiz.options.allowRetry"
            ng-class="{'btn-success' : response === true,
                       'btn-danger' : response === false}"
            ng-click="retry()">
      New Question
    </button>
  </div>

</div>
