/**************
Command Bar
**************/

#clothoSearchbarAutocomplete {
  z-index: 1001;
}

#clothoSearchbarAutocompleteList {
  width: 350px;
  display: block;
}

.clothoSearchbarAutocompleteListItem {
  padding-left:28px;
  padding-right: 20px;
}

#clothoSearchbarAutocompleteDetail {
  max-width: 400px;
  width: 400px;
  float: left;
  z-index: 1001; /*bootstrap dropdown-menu is 1000*/
  position: absolute;
  left: 350px;
}

#clothoCommandBarInput {
  background: #FFFFFF url('../images/iconSlice.png') no-repeat 5px 6px;
  padding-left: 28px;
  width: 316px;
}

/* todo - viewport container to hide scrollbar */
#clothoSearchbarLog {
  z-index:999;
  max-width: 400px;
  width: 400px;
  display: block; /*override bootstrap*/
}

#clothoSearchbarLogSnippet {
  padding: 3px 12px 4px;
  margin: 5px 5px 0;
  max-width: 254px;
  max-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#clothoSearchbarLog .logEntry {
  max-width: 360px;
  overflow-y: hidden;
  word-wrap: break-word;
  /*display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 120px;
  */
}


/* to fit into bootstrap */
.clotho-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background: url('../images/iconSlice.png') no-repeat -3px 0px;
}