<div class="container" ng-controller="FunctionsCtrl" >
    <div class="row">
        <div class="span12">
            <div class="page-header" style="position:relative">

                <div class="clearfix" style="position: absolute; bottom: 0; right: 20px; display: block;">
                    <ul class="nav nav-tabs pull-right" style=" margin-bottom:0; border-bottom: 0;">
                        <li ng-repeat="mode in nav" ng-class="{'active' : mode == current}">
                            <a ng-click="setCurrent(mode)">{{mode}}</a>
                        </li>
                    </ul>
                </div>

                <h1>Functions</h1>

            </div>
        </div>
    </div>
    <div ng-show="current == nav[0]">
        Search: <input ng-model="query"></input>

        <div ng-repeat="function in functions | filter:query">
            <h3>{{function.name}} <small>{{schema.description}}</small></h3>
        </div>
    </div>
    <div ng-show="current == nav[1]">
        Name: <input ng-model="created.name"></input>
        Description: <input ng-model="created.description"></input>
        Language: <select ng-model="created.language" ng-options="language for language in LANGUAGES"></select>
        <div class="row span12 pull-left">
            <span class="span1"> Source:</span>
            <textarea class="span9" ng-model="created.source"></textarea>
        </div>
        <div class="row span12">
            <button ng-click="submit(created)">Create</button>
        </div>
    </div>
</div>
