/******************
construction
****************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\000035}}
.constructionDictionary {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\000039}}
.constructionDictionary .computed {
  background-color: #d9edf7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000313}}
.constructionStep {
  position: relative;
  margin: 0 0 8px;
  border: 3px solid #d9edf7;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000324}}
.constructionStep .arrow,
.constructionStep .arrow:after {
  position: absolute;
  pointer-events: none;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000334}}
.constructionStep .arrow {
  border-width: 11px;
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #d9edf7;
  border-top-width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000343}}
.constructionStep .arrow:after {
  border-width: 7px;
  content: "";
  top: 4px;
  margin-left: -7px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000352}}
.constructionStep .errorBackground {
  background-color: #f2dede;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000356}}
.constructionStep .warningBackground {
  background-color: #fcf8e3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000360}}
.constructionStep .reaction {
  padding: 4px 17px;
  font-size: 14px;
  font-weight: bold;
  color: #8D9094;
  border-radius: 4px 4px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000369}}
.constructionStep .fields {
  padding: 10px 15px 0;
  background: #d9edf7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #3a87ad;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/constructionfile\.scss}line{font-family:\0000376}}
.constructionStep .output {
  padding: 4px 35px;
  font-size: 14px;
  font-weight: bold;
  color: #8D9094;
  border-radius: 0 0 4px 4px;
}
