/**********
youtube
*********/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/trails\.scss}line{font-family:\000035}}
.youtubePlayer {
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}

/***********
quiz
************/
/* Base class */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/trails\.scss}line{font-family:\0000317}}
.quiz {
  position: relative;
  padding: 8px 14px;
  margin: 15px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #3a87ad;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/trails\.scss}line{font-family:\0000328}}
.quiz:after {
  content: "Quiz";
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 4px 15px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #d9edf7;
  color: #AFB2B6;
  border-radius: 0 4px 0 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/maxwellbates\/Dropbox\/clothoApps\/clotho3\/clotho3-web\/app\/styles\/trails\.scss}line{font-family:\0000342}}
.quizResult {
  margin: 0 0 0 5px;
  padding: 4px 12px;
  vertical-align: top;
}
