/*
 * Aside element
 */

$asideZ : 1000;
$asideWidth : 370px;
$asideAnimation : all 0.5s ease-out;

body[aside-status]  {
  transform: translateX(0);
  transition: $asideAnimation;
}
body[aside-status='active'] {
  transform: translateX(-$asideWidth / 2);
  transition: $asideAnimation;
}

#terminalAsideTrigger {
  position: fixed;
  backface-visibility: hidden;
  top: 15px;
  right: 15px;
  width: 28px;
  height: 24px;
  line-height: 27px;
  z-index: $asideZ + 1;
  transform: rotateZ(0);
  transition: $asideAnimation;

  &:before {
    display: inline-block;
    width: 28px;
    height: 4px;
    content: "";
    box-shadow: 0 4px #cccccc,0 -4px #cccccc,0 -12px #cccccc;
  }

  &:after {
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-block;
    width: 0;
    height: 4px;
    content: "";
    box-shadow: 0 4px #ffffff,0 -4px #ffffff,0 -12px #ffffff;
    transition: $asideAnimation;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::after {
    width: 28px;
  }
  &.active {
    transform: translateX($asideWidth/2) rotateZ(90deg);
  }
}

.aside {
  position: fixed;
  z-index: $asideZ;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  overflow-y: scroll;
  overflow-x: auto;
  width: $asideWidth;
  background: white;
  box-shadow: -10px 0px 10px 1px #dddddd;
  transition: $asideAnimation;
  transform: translateX($asideWidth + 20px);


  &:focus {
    outline: none;
  }

  &.active {
    transform: translateX($asideWidth/2);
  }

  .aside-dialog {
    .aside-header {
      @extend .modal-header;
      padding: 6px 15px;
      background: #428bca;
      color: white;
      .close {
        margin-right: -8px;
        padding: 4px 8px;
        color: white;
        font-size: 25px;
        opacity: .8;
      }
    }
    .aside-body {
      @extend .modal-body;
    }
    .aside-footer {
      @extend .modal-footer;
    }
  }

}