<div>
  <div class="cf-step-group">
    <span class="cf-step-input">Sequence</span>
    <span class="cf-step-arg"
          ng-init="seqName = step.input[0]"
          popover="{{file.dictionary[seqName]['sequence'] | stringEnds}}"
          popover-title="{{seqName}}"
          popover-trigger="mouseenter">{{seqName}}</span>
  </div>
  <div class="cf-step-group">
    <span class="cf-step-input">Enzymes</span>
    <span ng-repeat="enzName in step.input[1]"
          class="cf-step-arg"
          popover-title="{{enzName}}"
          popover-trigger="mouseenter"
          popover="{{file.dictionary[enzName].cut}}">
      {{enzName}}
    </span>
  </div>
</div>