<div>
  <div class="cf-step-group">
    <span class="cf-step-input">Template</span>
    <span class="cf-step-arg"
          ng-init="templateName = step.input[0]"
          ng-class="{'isDefined' : file.dictionary[templateName], 'isSelected' : forceOpen}"
          sequence-popup
          ng-click="forceOpen = !forceOpen"
          sequence-popup-open="{{forceOpen}}"
          sequence-popup-title="{{templateName}}"
          sequence-popup-model="file.dictionary[templateName]"
          sequence-popup-trigger="mouseenter">
      {{templateName}}
    </span>
  </div>
  <div class="cf-step-group">
    <span>Primers</span>
    <span ng-repeat="ind in [1,2]"
          ng-init="primerName = step.input[ind]; forceOpen = false;"
          class="cf-step-arg"
          ng-class="{'isDefined' : file.dictionary[primerName], 'isSelected' : forceOpen}"
          sequence-popup
          ng-click="forceOpen = !forceOpen"
          sequence-popup-open="{{forceOpen}}"
          sequence-popup-title="{{primerName}}"
          sequence-popup-model="file.dictionary[primerName]"
          sequence-popup-trigger="mouseenter">
      {{primerName}}
    </span>
  </div>
</div>