<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="clothoRoot"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="clothoRoot"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="clothoRoot"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="clothoRoot"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clotho</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- processApi:remove -->
    <!-- build:css(css) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrapAdds.css">
    <link rel="stylesheet" href="css/commandbar.css">
    <!-- endbuild -->
    <!-- /processApi -->

    <!-- processDist:remove -->
    <!-- /processDist -->

</head>
<body>
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->


<div class="container">

    <!-- processApi:remove -->
    <div ng-cloak ng-hide="hideNavBar" ng-controller="MenuCtrl">
        <div class="navbar navbar-default" style="margin-bottom: 0;">
            <a class="navbar-brand" href="#">Clotho</a>

            <ul class="nav navbar-nav">
                <li class="ng-cloak" ng-repeat="item in modes" ng-class="item.class"><a ng-href="#{{item.path}}">{{item.name}}</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right" style="padding-right: 15px;">
                <div class="btn-group">
                    <button class="btn navbar-btn btn-small" ng-click="showLogin()" ng-class="{'btn-info' : loggedIn}"><i class="glyphicon glyphicon-user"></i> <span ng-cloak ng-if="loggedIn">{{ username }}</span></button>
                    <button class="btn navbar-btn btn-warning btn-small" ng-click="clearStorage()" disabled><i
                            class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn navbar-btn btn-warning btn-small" ng-click="reloadModules()"><i
                            class="glyphicon glyphicon-refresh"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /processApi -->

    <div clotho-command-bar></div>

</div>

<!--------
SCRIPTS
--------->

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>


<!--note - correct app based on the distribution-->

<!-- processDist:remove -->
<!-- /processDist -->

<!-- processDist:remove -->
<!-- processApi:remove -->
<!-- build:js scripts/clotho-app-command.js -->
<script src="scripts/app-command.js"></script>
<!--endbuild-->
<!-- /processApi -->
<!-- /processDist -->



<!-- build:js scripts/clotho-core-module.js -->
<!--
name: clotho.core
function: API and other core modules necessary for a Clotho instance on a page
dependencies: none
-->
<script src="scripts/_core/_kickoff.js"></script>
<script src="scripts/_core/angularAdditions.js"></script>
<script src="scripts/_core/clothoAPI.js"></script>
<script src="scripts/_core/clientAPI.js"></script>
<script src="scripts/_core/collector.js"></script>
<script src="scripts/_core/pubsub.js"></script>
<script src="scripts/_core/socket.js"></script>
<!--endbuild-->


<!-- processApi:remove -->
<!--note - remove all scripts below this for api-only build-->

<!-- build:js scripts/clotho-command-module.js -->
<!--
name: clotho.commandbar
function: CommandBar and related directives, services, etc.
dependencies: clotho.core
-->
<script src="scripts/_command/_kickoff.js"></script>
<script src="scripts/_command/commandBar.js"></script>
<script src="scripts/_command/clothoCommandBar.js"></script>
<script src="scripts/_command/terminal.js"></script>
<script src="scripts/_command/autocomplete.js"></script>
<script src="scripts/_command/logEntries.js"></script>
<!--endbuild-->
<!-- /processApi -->

</body>
</html>
