<footer class="container vcard">
    <div class="row">
        <div class="col width12">
            <ul>
                <li class="fn">AndersonLab</li>
                <li class="org"><strong>University of California at Berkeley</strong></li>
                <li>
                    <ul class="adr">
                        <li class="street-address">327 Stanley Hall, Mailcode #1762,</li>
                        <li class="locality">Berkeley,</li>
                        <li class="region">CA</li>
                        <li class="postal-code">94020</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col width4">
            <div class="emailWrap">
                <strong>Email: </strong><a class="email"  href="mailto:jcanderson@berkeley.edu">jcanderson@berkeley.edu</a>
            </div>
        </div>
    </div>
</footer>