<div>
    <h3>Generating an Assembly Plan</h3>
    <div youtube="nLYAkK2qdho"></div>
    <p>Now we will use Raven to generate an assembly plan for some of the inverters we created earlier. Click on the 'Design' tab to bring up the list of options for a Raven run. In particular, in the Target section, select some of the inverters. In the video, we select two, so that we can see a plan that takes advantage of shared intermediates in the assembly process. 
    <p> After you have selected your options, scroll down to the end of the page and press the green 'Design Assembly' button.
</div>
