<style type="text/css">
    body {
        background: #eeeeee;
    }

    .shadowBox
    {
        position:relative;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        margin: 20px 0;
    }
    .shadowBox:before, .shadowBox:after
    {
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
    .shadowBox:after
    {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
        -o-transform:skew(8deg) rotate(3deg);
        transform:skew(8deg) rotate(3deg);
    }
</style>

<div class="container" ng-controller="HomeCtrl">
    <div class="row">
        <div class="span12" ng-click="enterClotho()" style="cursor: pointer;">

            <div class="hero-unit text-center" style="padding: 10px">
                <h1>Clotho 3.0</h1>
            </div>
            <div class="shadowBox"><img src="../images/clotho-intro.jpg" class="img-rounded"/></div>
        </div>
    </div>

    <div class="row">
        <div class="span6 img-rounded" style="background: #fff; cursor: pointer;" ng-click="enterEugene()">
            <img src="../images/eugeneLogo.png" class="img-rounded pull-left" />
            <h3>Eugene Lab</h3>
        </div>
        <div class="span6 img-rounded" style="background: #fff; cursor: pointer;" ng-click="enterRaven()">
            <img src="../images/ravenLogo.png" class="img-rounded pull-left" />
            <h3>RavenCAD</h3>
        </div>
    </div>
</div>