<div id="clothoSearchbarAutocompleteDetailCommand" class="well well-small bottom">
    <div class="pull-right">
        <span class="badge badge-success"><i class="glyphicon glyphicon-thumbs-up glyphicon glyphicon-white"></i> {{autocomplete.detailModel.usage.positive}}</span>
        <span class="badge badge-important"><i class="glyphicon glyphicon-thumbs-down glyphicon glyphicon-white"></i> {{autocomplete.detailModel.usage.negative}}</span>
    </div>
    <h5 class="top">{{autocomplete.detailModel.text}}</h5>
    <dl class="dl-horizontal">
        <dt>Executed</dt>
        <dd>{{autocomplete.detailModel.usage.executed}}</dd>
        <dt>Successful</dt>
        <dd>{{autocomplete.detailModel.usage.successful}}
            ({{autocomplete.detailModel.usage.successful / autocomplete.detailModel.usage.executed * 100 | number:1}}%)
        </dd>
    </dl>
    <p>{{autocomplete.detailModel.description}}</p>
</div>