<div ng-controller="clothoIntro_searchbarIntroCtrl">

    <h3>Example Commands</h3>

    <p>You can declare variables in Javascript syntax: <code>var foo = 'bar'</code></p>

    <button class="btn btn-info btn-lg" ng-click="defineVariable()"><i class=" glyphicon-white glyphicon glyphicon-eye-open"></i> Define a Variable</button>

    <hr>

    <p>You can retrieve objects by name from the Clotho database: <code>clotho.get('GFPmut3')</code></p>

    <button class="btn btn-info btn-lg" ng-click="getObject()"><i class=" glyphicon-white glyphicon glyphicon-eye-open"></i> Get an Object</button>

    <hr>

    <p>You can run complex queries over all objects in your database, using <code>clotho.query(myParams)</code>, where <code>myParams</code> is an object with key-value filters: <code>clotho.query({"name":"GFPmut3"})</code></p>

    <button class="btn btn-info btn-lg" ng-click="runQuery()"><i class="glyphicon-white glyphicon glyphicon-eye-open"></i> Query for GFPmut3</button>

    <hr>

    <p>DNA manipulation functions can be directly accessed, for example: <code>DNA.complement('acgttgca')</code></p>

    <button class="btn btn-info btn-lg" ng-click="runDNA()"><i class="glyphicon-white glyphicon glyphicon-eye-open"></i> Run a Function</button>

    <!--
    <hr>

    <p>Other functions can be run by calling <code>clotho.run</code>. </p>

    <button class="btn btn-info btn-lg" ng-click="runFunction()"><i class="glyphicon-white glyphicon glyphicon-eye-open"></i> Run a Function</button>
    -->

</div>