<div class="row" ng-controller="EditorMainCtrl" ng-cloak>

    <div class="span6 form-horizontal" style="padding: 15px; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
        <legend>Institution View</legend>

        <div class="control-group">
            <label class="control-label" for="displayName">Display Name</label>

            <div class="controls">
                <span id="displayName" class="input-large uneditable-input">{{institution.displayName}}</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="city">City</label>

            <div class="controls">
                <span id="city" class="input-large uneditable-input">{{institution.city}}</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="state">State</label>

            <div class="controls">
                <span id="state" class="input-large uneditable-input">{{institution.state}}</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">Country</label>

            <div class="controls">
                <span id="country" class="input-large uneditable-input">{{institution.country}}</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="noAccessParam">No Access</label>

            <div class="controls">
                <span id="noAccessParam" class="input-large uneditable-input">{{institution.noAccessParam}}</span>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn" type="button" ng-click="edit()">Edit</button>
        </div>

    </div>

    <div class="row">
        <div class="span3 well">
            <h6>Change Institution:</h6>
            <div class="btn-group">
                <button class="btn" type="button" ng-click="setInst('first')">First</button>
                <button class="btn" type="button" ng-click="setInst('second')">Second</button>
            </div>
        </div>
    </div>


</div>