<div class="row" ng-controller="EditorEditCtrl" ng-cloak>
    <form class="span6 form-horizontal well" name="myForm" id="myFormId" style="padding: 15px 15px 0; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
        <fieldset>
            <legend>Institution Editor</legend>

            <div class="control-group">
                <label class="control-label" for="displayName">Display Name</label>
                <div class="controls">
                    <input type="text" id="displayName" name="displayName" ng-model="institution.displayName" required placeholder="Your Display Name">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="city">City</label>
                <div class="controls">
                    <input type="text" id="city" name="city" ng-model="institution.city" required placeholder="Your hometown">
                    <span class="error" ng-show="myForm.city.$error.required">Required!</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="state">State</label>
                <div class="controls">
                    <input type="text" id="state" name="state" ng-model="institution.state" required placeholder="Your state">
                    <span class="error" ng-show="myForm.state.$error.required">Required!</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="country">Country</label>
                <div class="controls">
                    <input type="text" id="country" name="country" ng-model="institution.country" required placeholder="Your Country">
                    <span class="error" ng-show="myForm.country.$error.required">Required!</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="noAccessParam">No Access</label>
                <div class="controls">
                    <!--<span class="input-large uneditable-input">{{institution.noAccessParam}}</span>-->
                    <input type="text" id="noAccessParam" ng-model="institution.noAccessParam" disabled placeholder="MC Hammer">
                    <span class="error" ng-show="myForm.noAccessParam.$error.required">Required!</span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="submit" class="btn btn-danger" ng-click="discard()">Discard</button>
                <button type="button" class="btn btn-warning" ng-click="reset()" ng-show="myForm.$dirty">Reset</button>
            </div>

        </fieldset>
    </form>

</div>