<div ng-controller="TrailQuizCtrl">
    <h3>{{quiz.title}}</h3>
    <p ng-bind-html-unsafe="quiz.question"></p>

    <!--todo -- add multiple conditions in ng-class so can add error class-->
    <div class="control-group" ng-class="{'success' : quiz.response.result, 'error' : quiz.response.result == false}">
        <div class="input-append">
            <input type="text" class="input-xlarge" ng-model="quiz.answer"/>
            <button class="btn" ng-click="submitQuestion(quiz)" ng-disabled="answerUndefined(quiz) || quiz.submitted" ng-class="{'btn-success' : quiz.response.result, 'btn-danger' : quiz.response.result == false}">Submit Answer</button>
        </div>
    </div>

    <h3 ng-if="quiz.response" ng-class="{'text-success' : quiz.response.result, 'text-error' : !quiz.response.result}">{{quiz.response.result}}</h3>
</div>
