<div ng-controller="TrailQuizCtrl" ng-init="quiz.answer = quiz.options">

    <h3>{{quiz.title}}</h3>
    <p>{{quiz.question}}</p>

    <ol class="span4">
        <li ng-repeat="choice in quiz.options" draggable="true">
            <p><button class="btn">{{choice}}</button>
        </li>
    </ol>

    <ul class="offset2 span5">
        <li ng-repeat="choice in quiz.matches" style="list-style: none;">
            <p class="well">{{choice}}</p>
        </li>
    </ul>

    <button class="btn btn-warning" ng-click="submitQuestion(quiz)" ng-disabled="!quiz.answer || quiz.submitted" ng-class="{'btn-success' : quiz.response.result, 'btn-danger' : quiz.response.result == false}">Submit Answer</button>

    <h3 ng-if="quiz.response" ng-class="{'text-success' : quiz.response.result, 'text-error' : !quiz.response.result}">{{quiz.response.result}}</h3>

</div>