<div ng-init="quiz.answer = quiz.options">

    <h3>{{quiz.title}}</h3>
    <p>{{quiz.question}}</p>

    <ol jq-sortable="sortableParams" ng-model="quiz.options">
        <li ng-repeat="choice in quiz.options">
            <p class="btn">{{choice}}</p>
        </li>
    </ol>

    <button class="btn" ng-click="submitQuestion(quiz)" ng-disabled="!quiz.answer || quiz.submitted" ng-class="{'btn-success' : quiz.response.result, 'btn-danger' : quiz.response.result == false}">Submit Answer</button>

    <h3 ng-if="quiz.response" ng-class="{'text-success' : quiz.response.result, 'text-error' : !quiz.response.result}">{{quiz.response.result}}</h3>

</div>