<div class="trail-contents">
  <div class="trail-chapter" ng-repeat="chapter in trail.contents">
    <div class="trail-chapter-info">
      <a class="trail-chapter-title" ng-click="activate($index)">{{chapter.chapter}}</a>
      <p class="trail-chapter-description">{{chapter.description}}</p>
    </div>
    <div class="trail-pages">
      <a class="list-group-item"
         ng-repeat="page in chapter.pages"
         ng-init="page.index = $parent.$index + '-' + $index"
         ng-class="{active: (page.index == current)}"
         ng-click="activate(page.index)"
         ng-disabled="!page.type">
        <i ng-class="mapIcon(page.icon)"></i>
        {{page.title}}
      </a>
    </div>
  </div>
</div>