<div class="container" ng-controller="constructionCtrl">
    <div class="row">
        <form name="dnaPlayground" class="span12 form-horizontal">

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="seq">Sequence</label>
                    <div class="controls">
                        <input type="text" id="seq" placeholder="Sequence" ng-model="sequence" restrict-input="DNA.regexps.strip.dna" />
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="seq2">Sequence as Pre</label>
                    <div class="controls">
                        <pre id="seq2" placeholder="Sequence" ng-model="sequence" restrict-input="DNA.regexps.strip.dna" contenteditable="true"></pre>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="complement">Complement</label>
                    <div class="controls">
                        <input type="text" id="complement" placeholder="Complement" ng-model="sequence" dna-complement disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="clothorun">Clotho.run (choose below)</label>
                    <div class="controls">
                        <input type="text" id="clothorun" placeholder="remote Reverse" ng-model="sequence" clotho-run="{{ chooseFunction }}" disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="reverse">Reverse</label>
                    <div class="controls">
                        <input type="text" id="reverse" placeholder="Reverse" ng-model="sequence" dna-reverse disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="clothofn">Choose Clotho Function</label>
                    <div class="controls">
                        <input type="text" id="clothofn" placeholder="Choose a function to Run" ng-model="chooseFunction" ng-init="chooseFunction = 'lowercase'" typeahead="fn.name for fn in clothoFunctions">
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="revcomp">Revcomp</label>
                    <div class="controls">
                        <input type="text" id="revcomp" placeholder="Revcomp" ng-model="sequence" dna-revcomp disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="clothorunpre">Clotho.run 'reverse'</label>
                    <div class="controls">
                        <pre id="clothorunpre" placeholder="Remote reverse" ng-model="sequence" clotho-run="reverse"></pre>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="transcribe">Transcribe</label>
                    <div class="controls">
                        <input type="text" id="transcribe" placeholder="Transcribe" ng-model="rna" disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="revTranscribe">Reverse Transcribe</label>
                    <div class="controls">
                        <input type="text" id="revTranscribe" placeholder="Reverse Transcribe" ng-model="rna" dna-reverse-transcribe disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="translate">Translate</label>
                    <div class="controls">
                        <input type="text" id="translate" placeholder="Translate" ng-model="protein" disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="revtranslate">Reverse Translate (Dumb)</label>
                    <div class="controls">
                        <input type="text" id="revtranslate" placeholder="Reverse Translate" ng-model="protein" dna-reverse-translate disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="onetothree">One to Three</label>
                    <div class="controls">
                        <input type="text" id="onetothree" placeholder="One to Three Aminos" ng-model="protein" dna-amino-one-to-three disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="onetofull">One to Full</label>
                    <div class="controls">
                        <input type="text" id="onetofull" placeholder="One to Full" ng-model="protein" dna-amino-one-to-full disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="shuffle">Shuffle</label>
                    <div class="controls">
                        <input type="text" id="shuffle" placeholder="Shuffled" ng-model="sequence" dna-shuffle disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="random">Random</label>
                    <div class="controls">
                        <input type="text" id="random" placeholder="Random" ng-model="sequence" dna-random disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="gc">GC Content</label>
                    <div class="controls">
                        <input type="text" id="gc" placeholder="GC Content" ng-model="sequence" dna-gc-content disabled>
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="melting">Melting Temp</label>
                    <div class="controls">
                        <input type="text" id="melting" placeholder="Melting Temp" ng-model="sequence" dna-melting-temp disabled>
                    </div>
                </div>
            </div>

            <div class="control-group row">
                <div class="span6 pull-left">
                    <label class="control-label" for="mw">Molecular Weight</label>
                    <div class="controls">
                        <input type="text" id="mw" placeholder="Molecular Weight" ng-model="sequence" dna-molecular-weight disabled>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <hr>

    <div class="row">
        <form name="digestPlayground" class="form-horizontal">


            <div class="control-group">
                <label class="control-label" for="enzSelect">Enzyme Name</label>
                <div class="controls">
                    <select id="enzSelect" ng-options="enz as enz.name for (name, enz) in Digest.enzymes" ng-model="digestEnz"></select>
                </div>
            </div>


            <!--<div class="control-group">
                <label class="control-label" for="digSites">{{ digestEnz.name }} Sites</label>
                <div class="controls">
                    <input type="text" class="input-xxlarge" id="digSites" placeholder="Predicted Sequence" ng-model="digestSeq" digest-mark="digestEnz"/>
                    <pre ng-model="digestSeq" digest-mark="digestEnz" contenteditable="false"></pre> <!--use content editable to bind, set to false so can't actually change--><!--
                </div>
            </div>-->

            <div class="control-group">
                <label class="control-label" for="digSites">{{ digestEnz.name }} Sites</label>
                <div class="controls">
                    <pre id="digSites" ng-model="digestSeq" digest-highlight="digestEnz"></pre>
                </div>
            </div>

        </form>
    </div>

    <hr>

    <div class="row">
        <form name="pcrPlayground" class="form-horizontal">
            <div class="control-group">
                <div class="span6 pull-left">
                    <label class="control-label" for="primer1">Primer 1</label>
                    <div class="controls">
                        <input type="text" id="primer1" placeholder="Primer 1" ng-model="primers[0]" restrict-input="DNA.regexps.strip.dna" />
                    </div>
                </div>
                <div class="span6 pull-right">
                    <label class="control-label" for="primer2">Primer 2</label>
                    <div class="controls">
                        <input type="text" id="primer2" placeholder="Primer 2" ng-model="primers[1]"  restrict-input="DNA.regexps.strip.dna" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="backbone">Backbone</label>
                <div class="controls">
                    <input type="text" class="input-xxlarge" id="backbone" placeholder="Backbone" ng-model="backbone"  restrict-input="DNA.regexps.strip.dna" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pcr_prod">PCR Product</label>
                <div class="controls">
                    <pre id="pcr_prod" placeholder="Predicted Sequence" pcr-predict ng-model="backbone" primers="primers"></pre>
                </div>
            </div>
        </form>
    </div>

</div>