<div ng-controller="constructionFiles_constructionInClothoCtrl">
  <p>Clotho can convert construction files using the wet lab syntax into Construction files you can simulate.</p>

  <p>You can specify sequences (like <code>ca1067F</code>) directly in the construction file, or reference sequences stored in Clotho (like <code>pSB1AK3</code>).</p>

  <pre ng-bind="wetlab"></pre>

  <p>The construction file is parsed, and converted from the wet lab syntax. Additional metadata easily can be added in Clotho.</p>

  <div construction-file="parsed" no-process="true"></div>

</div>