/*******
img highlights
********/

/* line 5, ../../app/styles/images.scss */

.hoverFade {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 12, ../../app/styles/images.scss */

.hoverFade:hover {
  opacity: 0.7;
}

/* line 19, ../../app/styles/images.scss */

.shadowBox {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin: 10px 0;
}

/* line 27, ../../app/styles/images.scss */

.shadowBox.hover:hover {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: -webkit-box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
}

/* line 32, ../../app/styles/images.scss */

.shadowBox.background {
  margin: 20px 0;
}

/* line 37, ../../app/styles/images.scss */

.shadowBox.background:before,
.shadowBox.background:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

/* line 53, ../../app/styles/images.scss */

.shadowBox.background:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}