<div class="container" ng-controller="EditorCtrl">
    <div class="row">

        <form sharable-editor name="sharableEditor" schema="schema_person" uuid="{{uuid}}" class="span6 form-horizontal well" style="padding: 15px; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;" novalidate>
            <legend>{{schemaName}} View</legend>
            <fieldset>
                <!-- currently only generates the fields... could make it do more?? -->
                <editor-generator sharable="sharable" schema="{{schema}}" uuid="uuid" schema-name="schemaName" edit-mode="editMode"></editor-generator>

            </fieldset>

            <div class="form-actions" ng-hide="editMode">
                <button class="btn" type="button" ng-click="edit()">Edit</button>
                <button type="button" class="btn btn-inverse" ng-click="logScope()">Log</button>
            </div>

            <div class="form-actions" ng-show="editMode">
                <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="sharableEditor.$invalid">Save</button>
                <button type="submit" class="btn btn-danger" ng-click="discard()">Discard</button>
                <button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
                <button type="button" class="btn btn-inverse" ng-click="logScope()">Log</button>

            </div>

        </form>

        <div class="row">
            <div class="span3 well">
                <h6>Change Institution:</h6>
                <div class="btn-group">
                    <button class="btn" type="button" ng-click="setUUID('inst_first')">First</button>
                    <button class="btn" type="button" ng-click="setUUID('inst_second')">Second</button>
                    <button class="btn btn-info" type="button" ng-click="setNewFirst()">New 1st</button>
                </div>
            </div>
        </div>

    </div>
</div>

