<div id="clothoSearchbarAutocomplete" class="dropdown pull-left" ng-show="display.autocomplete" click-outside="display.hide('autocomplete'); display.undetail();">
    <ul class="dropdown-menu span4 inline-block" >
        <a class="close" ng-click="display.hide('autocomplete'); display.undetail()" style="position: absolute; top: 0; right: 5px;">&times;</a>

        <li ng-repeat="item in (filtered = (autocomplete.autocompletions | filter:{text:query})) | limitTo:10" ng-class="{'disabled': item.type == 'phrase'}">
            <a ng-click="setQuery(item, $event)" ng-mouseenter="display.detail({{item.uuid}})">{{item.text}}</a>
        </li>

        <li ng-show="!filtered.length"><a class="text-error"><i class="icon-exclamation-sign"></i> No results...</a></li>

    </ul>

    <div id="clothoSearchbarAutocompleteDetail" class="popover inline" ng-show="display.autocompleteDetail" ng-cloak>
        <div class="popover-content">
            <a class="close" ng-click="display.undetail()" style="position: absolute; top: 0; right: 5px;">&times;</a>
            <div style="margin-bottom: 10px;">
                <button class="pull-right btn btn-primary top" ng-click="execute(autocomplete.autoDetail.command)">Execute</button>
                <h4 style="margin: 5px 0;">{{autocomplete.autoDetail.text}}</h4>
                <code><small>{{autocomplete.autoDetail.command}}</small></code>
            </div>
            <table class="table table-bordered" id="clothoSearchbarAutocompleteDetailVersions">
                <!--<thead>
                    <tr>
                        <th>Command</th>
                        <th>Author</th>
                    </tr>
                </thead>-->
                <tr ng-repeat="item in autocomplete.autoDetail.versions | limitTo:3">
                    <td style="cursor: pointer" ng-class="{'info': item === autocomplete.detailModel}" ng-click="display.detailInfo('command', $index)">{{item.text}}</td>
                    <td style="cursor: pointer" ng-class="{'info': item.author === autocomplete.detailModel}" ng-click="display.detailInfo('author', $index)">{{item.author.name}}</td>
                </tr>
            </table>

            <div ng-include src="autocomplete.detailTemplate" ng-show="display.autocompleteDetailInfo" ng-model="autocomplete.detailModel">
            </div>

        </div>
    </div>

</div>
