<div>
    <div id="searchBarForm" class="navbar-form pull-left"  style="position: relative;">

        <!--input-->
        <div class="input-append">
            <input id="searchBarInput" name="searchBar" type="text" placeholder="Enter Command or Search Term" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off" ng-model="display.query" ng-required ui-keypress="{'enter':'submit(display.query)'}" ui-keydown="{'down':'selectAutoNext($event)','up':'selectAutoPrev($event)','esc':'display.hide(\'autocomplete\'); display.undetail()'}">
            <button class="btn" id="searchBarSubmit" ng-click="submit(display.query)">Submit</button>
        </div>

        <!--autocomplete -->
        <div id="clothoSearchbarAutocomplete" class="dropdown pull-left" ng-show="false" click-outside="display.hide('autocomplete'); display.undetail();" ng-init="display.genAutocompletePos()" click-outside-active="display.autocomplete" ng-style="display.autocompletePos" style="position: absolute">
            <ul id="clothoSearchbarAutocompleteList" class="dropdown-menu span5 inline-block">
                <a class="close" ng-click="display.hide('autocomplete'); display.undetail()" style="position: absolute; top: 0; right: 5px;">&times;</a>
                <!--| filter:{text:display.query}-->
                <li ng-repeat="item in (filtered = (autocomplete.autocompletions)) | limitTo:10" ng-class="{'disabled': item.type == 'phrase'}">
                    <a class="clothoSearchbarAutocompleteListItem" ng-click="setQuery(item, $event)" ng-mouseenter="display.detail({{item.uuid}})" >{{item.text}}</a>
                </li>

                <li ng-if="!filtered.length" class="disabled"><a><i class="icon-exclamation-sign"></i> No results...</a></li>
            </ul>
            <div id="clothoSearchbarAutocompleteDetail" class="popover inline" ng-show="display.autocompleteDetail" ng-cloak>
                <div class="popover-content">
                    <a class="close" ng-click="display.undetail()" style="position: absolute; top: 0; right: 5px;">&times;</a>
                    <div style="margin-bottom: 10px;">
                        <button class="pull-right btn btn-primary top" ng-click="execute(autocomplete.autoDetail.command_object)">Execute</button>
                        <h4 style="margin: 5px 0;">{{autocomplete.autoDetail.text}}</h4>
                        <code><small>{{autocomplete.autoDetail.command_native}}</small></code>
                    </div>
                    <table class="table table-bordered" id="clothoSearchbarAutocompleteDetailVersions">
                        <tr ng-repeat="item in autocomplete.autoDetail.sharables | limitTo:3">
                            <td style="cursor: pointer" ng-class="{'info': item === autocomplete.detailModel}" ng-click="display.detailInfo('command', $index)">{{item.text}}</td>
                            <td style="cursor: pointer" ng-class="{'info': item.author === autocomplete.detailModel}" ng-click="display.detailInfo('author', $index)">{{item.author.name}}</td>
                        </tr>
                    </table>
                    <div ng-if="display.autocompleteDetailInfo" ng-include="autocomplete.detailTemplate" ng-model="autocomplete.detailModel">
                    </div>
                </div>
            </div>
        </div>

        <!--log-->
        <div class="inline-block" style="position:relative;" ng-init="display.genLogPos()" click-outside="display.hide('log');" click-outside-active="display.log">
            <div class="btn-group">
                <button id="searchbar_logbutton" class="btn" ng-click="display.toggle('log'); log.unread = null">
                    <i class="icon-tasks"></i>
                    <span class="label label-info" ng-if="log.unread">{{ log.unread }}</span>
                </button>
            </div>

            <div id="clothoSearchbarLog" class="popover bottom" style="position: absolute;" ng-show="display.log" ng-style="display.logpos" >
                <div class="arrow"></div>
                <h3 class="popover-title">
                    Activity Log
                    <!--<button class="btn dropdown-toggle pull-right" ng-click="fullPageLog()" ng-disabled="pathIsTerminal()" style="margin-top: -6px">
                        <i class="icon-fullscreen"></i>
                    </button>-->
                    <button class="btn dropdown-toggle pull-right" ng-click="display.log = false" style="margin-top: -6px">
                        <i class="icon-remove"></i>
                    </button>

                </h3>

                <div class="scrollable popover-content" style="max-height: 400px;">
                    <div ng-repeat="entry in log.entries | orderBy:options.timeFilter:true" class="clearfix">
                        <div ng-class="{'pull-right': entry.from == 'client', 'text-right': entry.from == 'client'}" class="logEntry {{entry.class == 'muted' ? 'muted' : 'text-' + entry.class | lowercase}}">
                            <span tooltip="{{ entry.timestamp | date:options.dateFilter }}" tooltip-placement="{{ (entry.from == 'client') ? 'left' : 'right' }}" tooltip-append-to-body="true">{{entry.text}}</span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--log snippet-->
    <div id="clothoSearchbarLogSnippet" class="pull-left inline alert alert-{{log.entries[0].class}}" ng-show="display.logSnippet" ng-mouseenter="log.cancelLogTimeout" ng-mouseleave="log.startLogTimeout">
        <small>{{log.entries[0].text}}</small>
    </div>


    <!--help buttons-->
    <div class="pull-right inline btn-group">
        <button class="btn" ng-click="newPage()" alt="New Page"><i class="icon-file"></i></button>
        <!--<button class="btn" ng-click="newWorkspace()" alt="New Workspace"><i class="icon-plus"></i></button>-->
        <button class="btn" ng-click="goHome()"><i class="icon-home"></i></button>
        <a class="btn dropdown dropdown-toggle" style="padding-left: 12px; padding-right: 12px;" id="searchbar_helpbutton"><i class="icon-question-sign"></i></a>
        <ul class="dropdown-menu">
            <li><a ng-click="showMeHow()" tabindex="-1"><i class="icon-eye-open"></i> Show me how</a></li>
            <li><a ng-click="aboutClotho()" tabindex="-1"><i class="clotho-icon"></i> About Clotho</a></li>
            <li><a ng-click="teamClotho()" tabindex="-1"><i class="icon-user"></i> The Clotho Team</a></li>
            <!--<li><a ng-click="toggleTooltips()" tabindex="-1"><i class="icon-tag"></i> Toggle Tooltips</a></li>-->
        </ul>
    </div>
</div>