<div id="clothoSearchbar">
    <div class="navbar-inner">

        <div id="searchBarForm" class="navbar-form pull-left">

            <div class="input-append">
                <input id="searchBar" name="searchBar" type="text" placeholder="Enter Command or Search Term" class="span4" autocomplete="off" ng-model="query" ng-required>
                <button class="btn" id="searchBarSubmit" ng-click="submit()">Submit</button>
            </div>

            <button logbutton class="btn" ng-click="toggleLog($event);"><i class="icon-tasks"></i></button>


            <div class="alert inline-block alert-{{log.entries[0].class}}" ng-show="display.logSnippet">
                <small>{{log.entries[0].text}}</small>
            </div>

        </div>

        <div class="pull-right inline btn-group">
            <button class="btn" ng-click="newPage()" alt="New Page"><i class="icon-file"></i></button>
            <button class="btn" ng-click="newWorkspace()" alt="New Workspace"><i class="icon-plus"></i></button>
            <button class="btn" ng-click="toggle('help')"><i class="icon-question-sign"></i></button>
        </div>
    </div>

    <div clotho-searchbar-autocomplete></div>

    <div clotho-searchbar-log style="position: absolute;" ng-style="display.logpos()"></div>

    <div clotho-searchbar-helppane></div>

    <div class="dropdown pull-right">
        <ul class="dropdown-menu" ng-show="display.help">
            <li><a ng-click="showMeHow()" tabindex="-1"><i class="icon-eye-open"></i> Show me how</a></li>
            <li><a ng-click="aboutClotho()" tabindex="-1"><i class="clotho-icon"></i> About Clotho</a></li>
            <li><a ng-click="toggleTooltips()" tabindex="-1"><i class="icon-tag"></i> Toggle Tooltips</a></li>
        </ul>
    </div>
</div>