<div class="aside" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$toggle()">&times;</button>
        <h4 class="aside-title">{{title || 'Clotho Terminal'}}</h4>
      </div>

      <div class="input-group">
          <div clotho-tokenizer ng-model="terminalQuery" placeholder="Construct a command"></div>
          <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="submit(terminalQuery)"
                      ng-disabled="!terminalQuery">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
          </span>
      </div>


      <div class="aside-body" ng-controller="TerminalCtrl">
        <div log-entries="logEntries"></div>
      </div>
      <!--<div class="aside-footer">
      </div>-->
    </div>
  </div>
</div>