<div class="container" ng-controller="EditorCtrl">
    <div class="row">

        <form clotho-editor name="myFunction" uuid="id" class="span8 form-horizontal well"></form>

        <div class="span2 well">
            <h5>Select an Object</h5>
            <select ng-model="id" class="span2" ng-options="c.id as c.name group by c.schema for c in editableList"></select>

            <h5>Create new</h5>
            <input type="text" style="width: 100%; margin: 5px 0;" ng-model="selected" typeahead="schema as schema.name for schema in schemas | filter:$viewValue | limitTo:10" popover="Choose the schema of the object you wish to create and edit" popover-title="Choose a Schema" popover-trigger="focus">
            <button class="btn" ng-click="createNewObject()" ng-disabled="!selected">Create</button>
            {{ selected | json }}


        </div>

    </div>
</div>