/***********
quiz
************/

/* Base class */
.quiz {
  position: relative;
  padding: 8px 14px;
  margin: 15px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #3a87ad;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  border-radius: 4px
}

.quiz:after {
  content: "Quiz";
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 4px 15px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #d9edf7;
  color: #AFB2B6;
  border-radius: 0 4px 0 7px;
}

.quizResult {
  margin: 0 0 0 5px;
  padding: 4px 12px;
  vertical-align: top;
}
