.trail-material {

  $bg-color: #fafafa;

  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  background-color: $bg-color;

  &:hover {
    text-decoration: none;

  }

  .trail-material-icon, .trail-material-download {
    width: 50px;
    height: 36px;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.428571429;
    border-color: $bg-color;
  }

  .trail-material-icon {
    border-radius: 20px 0 0 20px;
  }

  .trail-material-download {
    border-radius: 0 20px 20px 0;
  }

  .trail-material-type {

  }

  .trail-material-name {
    margin-left: 15px;

  }
}