//appears across trail-page and trail-overview

.trail-header {

  $height-trailHeader : 135px;
  $borderWidth-trailHeader : 1px;

  border: $borderWidth-trailHeader solid $borderColor-trail;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 20px;

  .trail-icon-wrap {
    @extend .col-xs-3;
  }

  .trail-icon {

    display: block;
    float: left;
    width: 100%;
    height: $height-trailHeader;
    margin: 0;
    padding: 0;
  }

  .trail-info-wrap {
    @extend .col-xs-9;
    position: relative;
    height: $height-trailHeader;
  }

  .trail-info {
    margin-right: 30px; //compensate for absolute positioning
    display: block;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
  }

  .trail-name {

  }

  .trail-description {

  }

}