/********************
 BOOTSTRAP OVERRIDES
********************/

.noPointerEvents {
    pointer-events: none;
}

/* Bootstrap add-ons */

.alert-muted {
    color: #555555;
    background-color: #eeeeee;
    border-color: #cfcfcf;
}

div.inline {
    display: inline;
}
div.inline-block {
    display: inline-block;
}
.top {
    margin-top: 0;
}
.bottom {
    margin-bottom: 0;
}


/*future - check for this to be fixed later by bootstrap */
.navbar-form .input-prepend, .navbar-form .input-append {
    margin-bottom: 0;
}

/*************
CUSTOM
*************/
.scrollable {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px; /*just in case... need to define with inline style*/
}

.hoverFade {
    opacity: 1;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.hoverFade:hover {
    opacity: 0.7;
}

/**************
Command Bar ONLY
**************/

#clothoSearchbarAutocomplete {
    z-index: 1001;
}

#clothoSearchbarAutocompleteList {
    width: 350px;
    display: block;
}

.clothoSearchbarAutocompleteListItem {
    padding-left:28px;
    padding-right: 20px;
}

#clothoSearchbarAutocompleteDetail {
    max-width: 400px;
    width: 400px;
    float: left;
    z-index: 1001; /*bootstrap dropdown-menu is 1000*/
    position: absolute;
    left: 350px;
}

#searchBarInput {
    background: #FFFFFF url('../images/iconSlice.png') no-repeat 5px 6px;
    padding-left: 28px;
    width: 316px;
}

/* todo - viewport container to hide scrollbar */
#clothoSearchbarLog {
    z-index:999;
    max-width: 400px;
    width: 400px;
    display: block; /*override bootstrap*/
}

#clothoSearchbarLogSnippet {
    padding: 3px 12px 4px;
    margin: 5px 5px 0;
    max-width: 254px;
    max-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#clothoSearchbarLog .logEntry {
    max-width: 360px;
}


/* to fit into bootstrap */
.clotho-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background: url('../images/iconSlice.png') no-repeat -3px 0px;
}

/***********
quiz
************/

/* Base class */
.quiz {
    position: relative;
    padding: 8px 14px;
    margin: 15px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #3a87ad;
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
    border-radius: 4px
}

.quiz:after {
    content: "Quiz";
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #d9edf7;
    color: #AFB2B6;
    border-radius: 0 4px 0 7px;
}

.quizResult {
    margin: 0 0 0 5px;
    padding: 4px 12px;
    vertical-align: top;
}



/******************
construction
****************/

.constructionDictionary {
    margin-bottom: 10px;
}

.constructionDictionary .computed {
    background-color: #d9edf7;
}

.constructionStep {
    position: relative;
    margin: 0 0 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #3a87ad;
    border: 3px solid #d9edf7;
    background-color: #fff;
    border-radius: 8px;
}

.constructionStep .arrow,
.constructionStep .arrow:after
{
    position: absolute;
    pointer-events: none;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.constructionStep .arrow {
    border-width: 11px;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #d9edf7;
    border-top-width: 0;
}

.constructionStep .arrow:after {
    border-width: 7px;
    content: "";
    top: 4px;
    margin-left: -7px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

.constructionStep .reaction {
    padding: 4px 35px 4px 17px;
    font-size: 14px;
    font-weight: bold;
    color: #8D9094;
}

.constructionStep .steps {
    padding: 10px 15px 0;
    background: #d9edf7;
}

.constructionStep .output {
    padding: 4px 35px;
    font-size: 14px;
    font-weight: bold;
    color: #8D9094;
}




/*******
img highlights
********/


.shadowBox
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 10px 0;
}

.shadowBox.hover:hover {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    transition: opacity 0.15s linear;
}

.shadowBox.background {
    margin: 20px 0;
}

.shadowBox.background:before, .shadowBox.background:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadowBox.background:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
