/**************
HACKS
**************/

#clothoSearchbarAutocomplete {
    margin: -10px 0 0 20px;
    display:block;
}

#clothoSearchbarAutocompleteDetail {
    max-width: 400px;
    width: 400px;
    float: left;
    z-index: 1000; /*bootstrap dropdown-menu is 1000*/
    position: absolute;
    left: 300px;
}

#searchBar {
    background: #FFFFFF url('../images/iconSlice.png') no-repeat 5px 6px;
    padding-left: 28px;
}



/*************
CUSTOM
*************/
.scrollable {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px; /*just in case... need to define with inline style*/
}

/* todo - create two divs, so hide scroll-bar (or make custom)*/

#clothoSearchbarLog {
    max-width: 360px;
    width: 360px;
}

#clothoSearchbarLog .logEntry {
    max-width: 300px;
}





/* override to avoid bootstrap JS */
#clothoSearchbar .dropdown-menu {
    display: block;
    position: absolute;
}

#clothoSearchbar .popover {
    display: block;
    position: absolute;
}

/* to fit into bootstrap */
.clotho-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background: url('../images/iconSlice.png') no-repeat -3px 0px;
}


.table tbody td:hover {
    background-color: #f5f5f5;
}

.table tbody td.info {
    background-color: #d9edf7;
}


/* Bootstrap add-ons */

div.inline {
    display: inline;
}
div.inline-block {
    display: inline-block;
}
.top {
    margin-top: 0;
}
.bottom {
    margin-bottom: 0;
}



/*todo - check for this to be fixed later by bootstrap */
.navbar-form .input-prepend, .navbar-form .input-append {
    margin-bottom: 0;
}









/***************
ORIGINAL
*************/

/* communications panes */
#communications {
    float: right;
    margin: 0 -5px 0 0;
    padding: 0;
}
#communications > li {
    float: left;
    list-style: none none outside;
    margin-left: 5px;
    height: 32px;
    width: 32px;
}
#communications > li > a {
    font-weight: bold;
    font-size: 14px;
}

/* the top level li for the drop down */
#info {
    position: relative;
    background: transparent url('../images/iconSlice.png')  right -142px  no-repeat;
}
#info > a {
    display: block;
    height: 32px;
    width: 32px;
}
#info:hover > a {
    position: relative;
    background: #dadadc url('../images/iconSlice.png')  right -218px  no-repeat;
    height: 31px;
    z-index: 9;
    border: 1px solid #969a9d;
    border-bottom: none;
}

/* the other top level list items */
#newPage {
    background: transparent url('../images/iconSlice.png')  0 -93px  no-repeat;
}
#newPage:hover {
    background: transparent url('../images/iconSlice.png')  0 -169px  no-repeat;
}
#newWorkSpace {
    background: transparent url('../images/iconSlice.png')  5px -117px  no-repeat;
}
#newWorkSpace:hover {
    background: transparent url('../images/iconSlice.png')  5px -193px  no-repeat;
}