<div>
    <h3>Adding Clotho Parts</h3>
    <div youtube="NuNyF08L768"></div>
    <p> EugeneCAD can generate almost complete Eugene syntax for clotho parts. To import a part into a Eugene file, click on the 'Parts' tab in the left-hand pane. This will show you a list of all the parts in your clotho database. Doubleclicking on a part will insert a Eugene description of the part at the cursor location in the main window. EugeneCAD makes use of all the information on the part that it can, but if you need to add more information (like Pigeon display specs) you can edit the part description manually.

</div>
