<div class="container" ng-controller="TrailMainCtrl">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Trail Browser <small>Find Your Way</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8" id="trail_preview">
            <div class="well">
                <h3 class="muted">Splash Video</h3>
                <iframe width="580" height="330" src="http://www.youtube.com/embed/9bZkp7q19f0?rel=0" frameborder="0" allowfullscreen></iframe>
                <hr />
                <p>Click on the first one (biosafety) to go to an interesting next page</p>
            </div>
        </div>
        <div class="span4" id="trail_list">
            <input type="text" class="span4" placeholder="Filter Text" ng-model="searchText">

            <article class="well clearfix" style="padding: 0 " ng-repeat="trail in trails.items | filter:searchText">
                <a class="pull-left" ng-href="#/trails/{{trail.uuid}}" style="padding-right: 10px;">
                    <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" ng-src="{{base64icon}}">
                </a>
                <div style="padding: 0 8px;">
                    <h5>{{trail.title}}</h5>
                    <h5 class="muted" style="margin: 5px 0 0;">{{trail.author}}</h5>
                </div>
            </article>
        </div>
    </div>

</div>