<div class="container" ng-controller="TrailMainCtrl">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Trail Browser <small>Find Your Way</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8" id="trail_preview">
            <div class="well">
                <h3 class="muted">Splash Page!</h3>
                <p>this is a browser page... Transclude trails is working. The combinatorial videos is also.... We could make it more interesting how content is displayed...</p>
            </div>
            <div style="margin: 0 auto;">
                <div class="row-fluid">
                    <img ng-repeat="i in [1,2,3,4,5,6]" class="media-object img-circle span2" ng-src="{{base64icon}}" />
                </div>
                <hr />
                <div class="row-fluid">
                    <img ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" class="media-object img-rounded span1" ng-src="{{base64icon}}" />
                </div>
            </div>
        </div>
        <div class="span4" id="trail_list">
            <input type="text" class="span4" placeholder="Filter Text" ng-model="searchText">

            <article class="well clearfix" style="padding: 0 " ng-repeat="trail in trails.items | filter:searchText">
                <a class="pull-left" ng-href="#/trails/{{trail.uuid}}" style="padding-right: 10px;">
                    <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" ng-src="{{base64icon}}">
                </a>
                <div style="padding: 0 8px;">
                    <h5>{{trail.title}}</h5>
                    <h5 class="muted" style="margin: 5px 0 0;">{{trail.author}}</h5>
                </div>
            </article>
        </div>
    </div>

</div>