<div>
  <h4>Using the Command Bar</h4>

  <p>The Command Bar provides a simple interface for running functions in Clotho.</p>

  <h5>Issuing commands</h5>

  <p>Type <code>f</code> to focus the Command Bar input.</p>

  <p>Words are tokenized as you input them. When they match something in the database, you'll see a list of autocompletions. These include functions, data, and schemas.</p>

  <p>Hover over an autocompletion (or use your up and down arrows) to see more information about it.</p>

  <h5>Activity Log</h5>

  <p>The activity log tracks your commands and their responses with Clotho. Responses appear briefly in a snippet to the right of the input, but exist throughout your session hidden away.</p>

  <p>Type <code>a</code> to show the Activity Log.</p>

  <h4>Example Commands</h4>

  Type a few commands above (hit <code>f</code> to get started!)

  <hr>

  <h5>Retrieve an Object</h5>

  <p><code>GFPmut3</code></p>

  <p>Retrieve the data associated with an object from the Clotho database</p>

  <hr>

  <h5>Run a Function</h5>

  <p><code>reverse superduper</code></p>

  <p>Easily run functions</p>

  <hr>

</div>