<div ng-controller="clothoIntro_ExaminingCtrl">
    <blockquote>
      <p>Construction Files define a series of unit operations which constitute a cloning experiment.</p>
    </blockquote>

    <p ng-init="showVideo = false" >Let's go through the process of ligating GFP into a backbone called pUC19.</p>

    <p><a ng-if="showVideo == false" ng-click="revealVideo()">Show me the Video!</a></p>

    <div ng-if="!!showVideo">
        <div youtube="U4qrf9MhSxE" on-complete="hideVideo()" autoplay="true"></div>
    </div>

    <div ng-if="!showVideo" class="thumbnail" style="padding: 15px; box-sizing: border-box">
        <img src="partials/trails/clotho-intro/pUC-GFP.png">
    </div>


    <div style="text-align: center">
      <ul class="pagination pagination-lg" style="display: inline-block">
          <li ng-repeat="step in constructionFile.steps" ng-class="{'disabled' : hideOpts.uptostep == $index + 1}">
              <a ng-click="hideOpts.uptostep = $index + 1" popover="{{reactions[step.reaction].readable}}" popover-trigger="mouseenter">Step {{ $index + 1 }}</a>
          </li>
      </ul>
    </div>

    <div class="alert alert-info" ng-if="hideOpts.uptostep == 0">
        <h4>Navigating the Construction File</h4>
        <p>Iterate through each reaction by going through the steps above, revealing each reaction in the workflow below.</p>
    </div>

    <form construction-full ng-model="constructionFile" construction-editable="false" construction-hideopts="hideOpts"></form>

    <div ng-if="hideOpts.uptostep == constructionFile.steps.length">
        <ul class="pager">
            <li class="next">
                <a ng-click="next()">Now let's process it &rarr;</a>
            </li>
        </ul>
    </div>
</div>