<div ng-controller="clothoIntro_PCRCtrl">

    <div class="well">
        <form class="form-horizontal row">
            <div class="form-group">
                <label class="control-label" for="choosePrimers">Primer Set:</label>

                <div style="display: block;" class="btn-group" id="choosePrimers">
                    <button ng-repeat="set in pcr_demoSets" class="btn" ng-click="setPCR($index)" ng-disabled="primers == pcr_demoSets[$index].primers">Set {{ $index + 1}}
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Primers</label>

                    <input type="text" id="primer1" placeholder="Primer 1" ng-model="primers[0]" restrict-input="DNA.regexps.strip.dna" />
                    <input type="text" id="primer2" placeholder="Primer 2" ng-model="primers[1]" restrict-input="DNA.regexps.strip.dna" />
            </div>

            <div class="form-group row">
                <label class="control-label" for="backbone">Backbone</label>

                    <textarea class="col-xs-12" id="backbone" placeholder="Backbone" ng-model="backbone" restrict-input="DNA.regexps.strip.dna"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label" for="pcr_align">Alignment</label>

                    <pre id="pcr_align" placeholder="Primer Alignment" pcr-align ng-model="backbone"
                         primers="primers"></pre>
            </div>

            <div class="form-group">
                <label class="control-label" for="pcr_prod">PCR Product</label>

                    <pre id="pcr_prod" placeholder="Predicted Sequence" pcr-predict ng-model="backbone" primers="primers"></pre>
            </div>
        </form>
    </div>

    <button class="btn btn-info btn-lg" ng-click="showMeHow()"><i class="glyphicon-white glyphicon glyphicon-eye-open"></i> Show me how</button>
</div>