/*we'll define height later via javascript or something */
#trail_wrapper {min-height: 600px; background: #FAFAFA;} /*-webkit-box-shadow: 0 0 20px 10px rgba(250, 250, 250, 0.95); -moz-box-shadow: 0 0 20px 10px rgba(250, 250, 250, 0.95); box-shadow: 0 0 20px 10px rgba(250, 250, 250, 0.95);*/
#trail_toc {display: block; overflow: hidden; position: relative; width: 240px; border-right: 1px solid #CCCCCC; margin-right:-1px; float: left;}
#toc_viewport {width: 260px; height: 600px; overflow: scroll;}
#trail_toc .module {width: 240px; padding: 0;}
#toc_modules {margin-bottom: 2em;}
.module h3 {font-size: 1.3em; margin:0; padding: .6em .8em; display: block; background: #DDDDDD; border-bottom: 1px solid rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);}
.module h3:after {content: "▽"; float: right; display: block; height: 12px; width: 12px; vertical-align: central; background: transparent;}
.module h3.collapsed:after {content: "◀";}
.module a {display: block; margin: 0.5em 0.8em 0; border-bottom: 1px solid #CCCCCC; padding: 0.5em 1em; text-decoration: none; color: #444; cursor: pointer;}
.module a:hover {text-decoration: none; color: #069;}
.module a:last-child {border: none; margin-bottom: 0.5em;}
#toc_nav {height: 2em; background: #F4F4F4; border-top: #EEEEEE; position: absolute; bottom: 0; -webkit-box-shadow: 0 -12px 12px #FFFFFF; -moz-box-shadow: 0 -12px 12px #FFFFFF; box-shadow: 0 -12px 12px #FFFFFF;}
#toc_nav a {text-transform: uppercase; text-decoration: none; font-size: 11px; line-height: 2em; font-weight: bold; display: block; width: 105px; float: left; color: #888888;}
#toc_nav a.disabled {opacity: 0.2; filter: alpha(opacity=20); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"}
#toc_nav .back {padding-left: 15px;}
#toc_nav .more {padding-right: 15px; text-align: right;}

#widget_space_root {width: 710px; min-height: 600px; float: left;}