<div class="container">

  <h2>Playground</h2>

  <p>Just meant to be played with so you can test things somewhere without configuring a route</p>

  <hr>

  <div class="panel panel-default" ng-init="sample = '@hey you baby@girl whats up @clotho.developer.maxbates with ya?'">
    <div class="panel-heading">Reference parsing + listening</div>

    <div class="panel-body">
      <div class="col-sm-6">
        <clotho-terminal-input></clotho-terminal-input>
      </div>
    </div>

    <hr>

    <div class="panel-body"
         style="position: relative;"
         ng-init="myModel = 'hey @clotho.testuser.maxbates how are you? and you @maxbates@gmail.com ?'">
      <textarea clotho-reference-autocomplete
                class="form-control"
                ng-model="myModel"
                ng-trim="false"
                placeholder="enter a bunch of text"
                autocomplete-trigger="true"
                autocomplete-trigger-include="true"
                autocomplete-popup-position="topRight"></textarea>
    </div>

    <div class="panel-body" style="position: relative;">
      <div clotho-reference-parser="myModel"></div>
    </div>
  </div>
</div>
