<div class="container trail-overview">

  <div trail-header="trail"></div>

  <div class="row trail-about">

    <div class="col-xs-8">

      <!-- about -->
      <div class="trail-section">
        <h3 class="trail-section-title">About this Trail</h3>
        <div trail-page="trail.about"></div>
      </div>

      <!-- materials -->
      <div class="trail-section">
        <h3 class="trail-section-title">Course Materials</h3>
        <div ng-repeat="material in trail.materials"
             trail-material="material">

        </div>
      </div>

    </div>

    <div class="col-xs-4">
      <!-- Instructors -->
      <div class="trail-section">
        <h3 class="trail-section-title">Instructor</h3>
        <div ng-repeat="instructor in trail.instructors"
             trail-instructor="instructor">
        </div>
      </div>

      <!-- Sharing -->
      <div class="trail-section" ng-controller="SharingCtrl">
        <h3 class="trail-section-title">Share</h3>
        <div>
          <img ng-repeat="site in social"
               ng-src="{{site.icon}}"
               ng-click="share(site)"
               ng-style="{'width' : '40px',
                          'padding-right' : ($last ? '0' : '5px') }"
               class="hoverFade" />
        </div>
      </div>
    </div>
  </div>

  <div class="trail-contents-wrap">
    <!-- trail contents -->
    <div class="trail-section">
      <h3 class="trail-section-title">Course Contents</h3>
      <div trail-contents="trail"></div>
    </div>
  </div>

</div>


<pre>{{trail | json}}</pre>
