<div class="container">
    <div class="row">

        <form clotho-editor ng-model="editable" class="span8 form-horizontal well"></form>

        <div class="span3">
            <div class="well">
                <h5>Select an Object</h5>
                <select ng-model="editable" class="span2" ng-options="c.id as c.name group by c.schema for c in editableList"></select>

                <h5>Create from Schema</h5>
                <!--popover induces isolate scope, need to call $parent.selected in ngModel, see angular issue https://github.com/angular/angular.js/issues/1924 -->
                <input type="text" style="width: 100%; margin: 5px 0;" ng-model="$parent.selected" typeahead="schema.id as schema.name for schema in schemas | filter:{name:$viewValue} | limitTo:10" popover="Type and select a schema to create an object with pre-determined fields" popover-title="Choose a Schema" popover-trigger="focus">
                <button class="btn" ng-click="createNewObject()" ng-disabled="!selected">Create</button>
            </div>

            <div class="well">
                <h5>Select an Schema</h5>
                <select ng-model="editable" class="span2" ng-options="c.id as c.name for c in schemas | orderBy:'name'"></select>
                <h5>Create a new Schema</h5>
                <button class="btn" ng-click="createNewSchema()">Create New</button>
            </div>
        </div>

    </div>
</div>