<div class="container" dark-background>

    <clotho-modal title="Clotho Help" open="showHelp" content="modalContent"></clotho-modal>

    <div class="jumbotron clearfix " style="padding-top: 30px; padding-bottom: 0px;">

        <!--<img src="images/clothologo.png" class="float-left col-xs-4" style="width: 257px; height: 336px" />-->
        <img src="images/clothocad.jpg"  class="shadowBox" />

        <div class="col-xs-12" style="padding-top: 15px;" >
          <p style="text-align: center">Clotho is for engineering synthetic biological systems and managing the data which is used to create them. It also provides a mechanism to begin the process of creating standardized data, algorithms, and methodologies for synthetic biology.</p>
        </div>

    </div>



  <div class="jumbotron clearfix ">


        <div class="col-xs-7 shadowBox " >
            <img src="images/clothologo.png" class="float-left hover img-rounded pull-left" style="width: 184px;height: 240px;" />
            <div class="col-xs-6" style="padding-left: 15px;">
              <h2>Learning Clotho</h2>

              <p>Basics of genetic design and Clotho usage tutorial.</p>
              <button class="btn btn-lg btn-primary" ng-click="enterClotho()">Learn Clotho</button>

            </div>
        </div>
        <div class="col-xs-5 " >

            <img src="images/clothocadfiles/button_download.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="downloadClotho()" />
            <img src="images/clothocadfiles/button_browse.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="browseApps()" />



        </div>

    </div>
    <div class="container-fluid">
        <a href="http://www.autodesk.com/" ><img style="height: 30px" src="images/sponsors/backup/autodesk.png"/></a>
        <a href="http://qb3.org/"><img style="height: 30px" src="images/sponsors/backup/qb3.png"/></a>
        <a href="http://www.quintarabio.com/"><img style="height: 30px" src="images/sponsors/backup/quintarabio.gif"/></a>
        <a href="http://www.synberc.org/"><img style="height: 30px" src="images/sponsors/backup/synberc.png"/></a>
        <a href="http://www.nsf.gov/"><img style="height: 30px" src="images/sponsors/backup/nsf_logo.png"/></a>
    </div>
</div>

