<div class="container" dark-background>

    <clotho-modal title="Clotho Help" open="showHelp" content="modalContent"></clotho-modal>

    <div class="jumbotron clearfix " style="padding-top: 30px; padding-bottom: 0px;">

        <!--<img src="images/clothologo.png" class="float-left col-xs-4" style="width: 257px; height: 336px" />-->
        <img src="images/clothocad.jpg"  class="shadowBox" />

        <div class="col-xs-12" style="padding-top: 15px;">
            <!-- <h2>Learning Clotho</h2>  -->

            <p>Clotho is for engineering synthetic biological systems and managing the data which is used to create them. It also provides a mechanism to begin the process of creating standardized data, algorithms, and methodologies for synthetic biology.</p>


            <!--
                <p>Join our mailing list to learn keep up to date!</p>

            <div class="input-group">
                <input class="input-xlarge" type="email" style="padding: 11px 19px;
    font-size: 17.5px; line-height: 1.33; border-radius: 6px 0 0 6px;" placeholder="your@email.com" ng-model="newEmail" required>
                <button class="btn btn-lg btn-primary" type="button" ng-click="joinMailingList()" ng-disabled="!newEmail">Join List</button>
            </div>-->
        </div>

    </div>



  <div class="row">
      <!--<div class="col-xs-4" style="cursor: pointer;" ng-click="enterClotho()">
          <img src="../images/clothologo.png" class="shadowBox img-rounded pull-left" />
      </div>-->
        <div class="col-xs-6 shadowBox " >
            <img src="images/clothologo.png" class="float-left hover img-rounded pull-left" style="width: 230px;height: 300px;" />
            <div class="col-xs-6" style="padding-left: 15px;">
              <h2>Learning Clotho</h2>

              <p>This tutorial will guide you through the basics of genetic design and Clotho usage.</p>
              <button class="btn btn-lg btn-primary" ng-click="enterClotho()">Learn Clotho</button>

            </div>
        </div>
        <div class="col-xs-6 center-block" >

            <img src="images/clothocadfiles/button_download.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="downloadClotho()" />
            <img src="images/clothocadfiles/button_browse.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="browseApps()" />


          <!-- <img src="images/logo-Raven.png" class="hover img-rounded pull-left" /> -->
        </div>
    </div>
</div>
<!-- style="cursor: pointer;" -->
