<div class="container" dark-background>

    <clotho-modal title="Clotho Help" open="showHelp" content="modalContent"></clotho-modal>

    <div class="jumbotron clearbox" style="padding-top: 10px; padding-bottom: 0px;">

        <div class="col-xs-12" style="padding-top: 15px;" >
          <p style="text-align: left">Clotho is a framework for engineering synthetic biological systems and managing the data used to create them. Author data schemas, run functions and algorithms, and tie Clotho into existing applications.</p>
        </div>

    </div>

  <div class="jumbotron clearfix">
        <div class="col-xs-7 shadowBox " >
            <img src="images/clothologo.png" class="float-left hover img-rounded pull-left" style="width: 184px;height: 240px;" />
            <div class="col-xs-7" style="padding-left: 15px;">
              <h2>Learning Clotho</h2>

              <p>An introduction to the basics of DNA and genetic design</p>
              <button class="btn btn-lg btn-primary" ng-click="enterClotho()">Get Started</button>

            </div>
        </div>
        <div class="col-xs-5 " >

            <img src="images/clothocadfiles/button_download.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="downloadClotho()" />
            <br>
            <br>
            <img src="images/clothocadfiles/button_browse.png" style="cursor: pointer;margin-top: 15px;margin-left: 20px;" ng-click="browseApps()" />
        </div>
    </div>

    <div id="sponsors">
        <a href="http://www.autodesk.com/" ><img style="height: 40px" src="images/sponsors/autodesk.png"/></a>
        <a href="http://qb3.org/"><img style="height: 40px" src="images/sponsors/backup/qb3.gif"/></a>
        <a href="http://www.quintarabio.com/"><img style="height: 40px" src="images/sponsors/quintara.png"/></a>
        <a href="http://www.synberc.org/"><img style="height: 40px" src="images/sponsors/synberc.png"/></a>
        <a href="http://www.nsf.gov/"><img style="height: 40px" src="images/sponsors/nsf_logo.png"/></a>
        <span class="stretch"></span>
    </div>
</div>

