
<object type="image/svg+xml"
        data="images/trails/trail-mono-noTop.svg"
        class="trail-logo-background">
</object>

<div class="container" dark-background>

  <div class="trail-splash-logo-container">
  <object type="image/svg+xml"
          data="images/trails/trail-logo-name.svg"
          class="trail-splash-logo">
  </object>
  </div>

  <div class="trail-topics-wrap">
    <div class="trail-topics">
      <div class="topic panel panel-info" ng-repeat="topic in topics">
        <div class="topic-heading panel-heading">
          <h3 class="topic-title panel-title">{{topic.title}}</h3>
        </div>

        <div class="topic-trails list-group">
          <div class="topic-contents list-group-item"
               ng-repeat="trail in topic.trails"
               ng-mouseenter="highlight(trail, $event)"
               ng-click="startTrail(trail.id)"
               ng-class="{'active' : highlighted == trail}">
            <div class="trail-thumbnail">{{trail.icon}}</div>
            <div class="trail-overview">
              <h4 class="trail-title">{{trail.title}}</h4>

              <p class="trail-description">{{trail.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="trail-highlight-wrap">
      <div class="trail-highlight" simple-sticky>
        <div class="shadowBackground highlightPlaceholder trail-splash-intro" ng-if="!selected">
          <p>The Synthetic Biology Trails introduce you to the concepts behind Synthetic Biology.</p>
          <p>Synthetic Biology allows you to write novel sequences of DNAs, and introduce them into cells to elicit new and useful function.</p>
          <p>We'll start by jumping right in explaining how to think through the basic cloning experiment, then we'll show you how to do it in the wetlab, then circle around and discuss the process in great detail. Finally, we introduce new topics at the bleeding edge of Synthetic Biology, and go into more detail about specific techniques and tools.</p>
        </div>
        <img ng-src="{{selected.icon}}"
             class="shadowBackground"
             ng-click="startTrail(selected.id)">

        <div trail-contents="selected" activate="startTrailPage(selected.id, $position)"></div>
      </div>
    </div>
  </div>

</div>