<div class="container">

    <div class="jumbotron">
        <p>
            <a class="btn btn-lg btn-success" ng-click="bootstrapNewApp()">Bootstrap Inside ng-view</a>
            <a class="btn btn-lg btn-info" ng-click="bootstrapNewAppExternal()">Bootstrap Outside</a>
            <a class="btn btn-lg btn-default" ng-click="bootstrapSimple()">Bootstrap Simple</a>
        </p>
    </div>

    <div class="marketing">
        <h4>Content</h4>
        <p>
            Widget will be inserted below
        </p>
    </div>

    <insert-widgets-here></insert-widgets-here>
</div>