<div class="popover {{placement}} large sequencePopup">
  <div class="arrow"></div>

  <h3 class="popover-title">
    <span class="pull-right" style="font-size: 16px;">
      <textfile-download content="generatedFASTA" name="{{model.name || title}}"></textfile-download>
    </span>
    {{model.name || title}} - {{model.length == 1 ? model[0].sequence.length + ' bp' : '(multiple)'}}
  </h3>

  <div class="popover-content">
    <div ng-repeat="seq in model" class="sequencePopup-item">
      <span ng-bind="seq.sequence | stringEnds:20" class="sequencePopup-sequence"></span>
    </div>
  </div>
</div>
