<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What do you want to import?</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
             ng-repeat="item in importable"
             ng-click="goToImportable(item)">
            {{item.name}}
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
