<div ng-controller="clothoTool_digestCuts">
  <div class="form-group" style="text-align: center;">
    <div class="btn-group" style="display: inline-block;" id="enzymes">
      <button ng-repeat="enz in enzymes | orderBy:'name'"
              class="btn btn-sm btn-default"
              ng-class="{'btn-info' : enz.active}"
              restriction-enzyme-popup
              restriction-enzyme-popup-trigger="mouseenter"
              restriction-enzyme-popup-placement="top"
              restriction-enzyme-popup-model="enz"
              ng-click="enz.active = !enz.active">
        {{enz.name}}
      </button>
    </div>
  </div>

  <div class="form-group">
    <textarea class="form-control" ng-model="sequence" rows="2"></textarea>
  </div>

  <pre id="digSites"
       digest-tool-highlight
       enzymes="enzymes"
       sequence="sequence"
       style="text-align: center;"></pre>
</div>