<div>
    <h2>Assume directive etc. included, use ng-init</h2>

    <p>Notice restrict-input doesn't work - DNA service not attached to scope via controller. Directives work (already included in default stack).</p>
    <div class="control-group" ng-init="sequence = 'acgatcgatcgat'">
        <div class="span6">
            <label class="control-label" for="seq">Sequence</label>
            <div class="controls">
                <input type="text" id="seq" placeholder="Sequence" ng-model="sequence" restrict-input="DNA.regexps.strip.dna" />
            </div>
        </div>
        <div class="span6">
            <label class="control-label" for="revcomp">Revcomp</label>
            <div class="controls">
                <input type="text" id="revcomp" placeholder="Revcomp" ng-model="sequence" dna-revcomp disabled>
            </div>
        </div>
    </div>
</div>