<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Really Simple Editor</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
</head>
<body>
<!--no external dependencies beyond angular, but doesn't do much-->


<form name="myForm">
    Display Name: <input name="displayName" ng-model="displayName" required>
    <span class="error" ng-show="myForm.displayName.$error.required">Required!</span><br>

    City: <input name="city" ng-model="city" required>
    <span class="error" ng-show="myForm.city.$error.required">Required!</span><br>

    State: <input name="state" ng-model="state" required>
    <span class="error" ng-show="myForm.state.$error.required">Required!</span><br>

    Country: <input name="country" ng-model="country" required>
    <span class="error" ng-show="myForm.country.$error.required">Required!</span><br>

    <hr />

    <div class="span4">
        <tt>Display name = {{displayName}}</tt><br />
        <tt>Address = {{city}}, {{state}}, {{country}}</tt>
    </div>
    <div class="span4">
        <tt>myForm.displayName.$valid = {{myForm.displayName.$valid}}</tt><br>
        <tt>myForm.displayName.$error = {{myForm.displayName.$error}}</tt><br>
        <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
        <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
    </div>
</form>
</body>
</html>
