<div class="container" dark-background>
  <div class="jumbotron clearfix shadowBox" style="padding-top: 30px; padding-bottom: 30px;">

    <img src="images/clothologo.png" class="float-left col-xs-4" style="width: 257px; height: 336px"/>

    <div class="col-xs-8" style="padding-left: 15px">
      <h2>About Clotho</h2>

      <p>Clotho is for engineering synthetic biological systems and managing the data which is used to create them. It also provides a mechanism to begin the process of creating standardized data, algorithms, and methodologies for synthetic biology.</p>

      <p>Clotho will be available as a Beta release in late 2014.</p>
    </div>
  </div>
</div>