<div ng-controller="PlasmidCtrl" class="container">
    <div class="row">
    <div class="span8">
        <h3>
            Sequence
        </h3>
        <div class="ldt">
            <pre plasmid-editor ng-model='sequence' features="featureList" editable="{{editable}}" style="position:relative;"></pre>
        </div>

    </div>
    <div class="span4">
        <h3>Features
        </h3>
        <form novalidate class="well" ng-init="new = emptyFeat()">
            <div class="row-fluid">
                <input type="text" class="span12" placeholder="Feature Name" ng-model="new.label">
                <div class="input-prepend input-append span12">
                    <input type="text" class="span5" placeholder="Sequence" ng-model="new.match" ng-pattern="reg_match" ng-trim="false" ng-disabled="new.pos.length"/>
                    <span class="add-on">OR</span>
                    <input type="text" class="span5" placeholder="Position" ng-model="new.pos" ng-pattern="reg_pos" ng-trim="false" ng-disabled="new.match.length"/>
                </div>
                <div class="input-prepend input-append span6">
                    <input type="color" class="span3" placeholder="Text" ng-model="new.css.color" ng-pattern="reg_color" ng-trim="false" />
                    <span class="add-on">OR</span>
                    <input type="color" class="span3" placeholder="Background" ng-pattern="reg_color" ng-model="new.css.background" ng-trim="false" />
                </div>
                <button class="btn span5" ng-click="addFeature(new);" ng-disabled="!featureValid(new)">Add Feature</button>
            </div>
        </form>
        <div class="row-fluid">
            <div ng-repeat="feat in featureList">
                <button btn-checkbox class="btn" ng-model="feat.active">Active</button>
                <span ng-style="{{feat.css}}">{{ feat.label }} @ {{ feat.pos.start }} - {{ feat.pos.end }}</span>
            </div>
        </div>
    </div>
    </div>
</div>