<div>
    <p>Using angular services like these require a controller, and attaching functions to the $scope that declare how to use them. See the controller that defines this Page as an example in <code>clotho3-web/partials/trails/writingTrails-controller.js</code></p>

    <hr>

    <p>There is an easy wrapper function to type things into the Command Bar:</p>
    <button class="btn btn-info btn-lg" ng-click="showSearchTypeOut()"><i class= glyphicon-white glyphicon glyphicon-eye-open"></i> Show Command Bar Typing</button>

    <p>You can easily create dialogs as well.</p>
    <button class="btn btn-info btn-lg" ng-click="showDialog()"><i class="glyphicon-white glyphicon glyphicon-eye-open"></i> Show Dialogs</button>

    <button class="btn" ng-click="openVideo()">Open video Modal</button>
</div>