<div>
    <p>Walk through of the video element in a little more depth.</p>

    <pre>{{ videoDemo | json }}</pre>

    <p>Using the mini (default true) starts the DIV with a thumbnail and description, with a button that replaces the DIV with the youtube video.</p>

    <p>The youtube Params Obj are those parameters as defined in the <a href="https://developers.google.com/youtube/js_api_reference">youtube Javascript API</a>. Note there is an an events object which you can set to run events, also as defined in the API.</p>

    <p>You can set the <b>height</b> and <b>width</b> of a Youtube Player my passing in those parameters to the params object. Currently, videos should be 700 pizels wide, and <code>525</code> in height for 4x3 or <code>394</code> for 16x9:</p>

    <pre>{{ demoSize | json }}</pre>
</div>