<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>Share This Page</h3>
</div>
<div class="modal-body" ng-controller="SharingCtrl">
    <div style="margin: 0 auto;"
         ng-style="{width: ((social.length*64) + ((social.length - 1) * 5 )) + 'px'}">
        <img ng-repeat="site in social"
             ng-src="{{site.icon}}"
             ng-click="share(site)"
             ng-style="$last ? '' : {'padding-right': '5px'}"
             class="hoverFade" />
    </div>
</div>
