<div id="skipNav"><a href="#main">Skip Navigation</a></div>

<header id="pageHeader" style="margin-bottom: 2em;">
    <div class="container">
        <div class="row">
            <div class="col width3">
                <a href="#"><img id="pageLogo" src="assets/logos/AndersonLabLogo.png" alt="Anderson Lab Logo" /></a>
            </div>
            <div class="col width8">
                <ul class="menu main">
                    <li><a ng-href="#/people">People</a></li>
                    <li><a ng-href="#/research">Research</a></li>
                    <li><a ng-href="#/software">Software</a></li>
                </ul>
            </div>
            <div class="col width5">
                <ul class="menu secondary">
                    <li><a href="">Education</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>


</header>

<!--header wouldn't render anyway without the search package but lets hide it just in case
<div class="navbar">
    <div id="clothoSearchbar" class="navbar-inner" style="border-radius: 0px; border: 0; border-bottom: 1px solid #d4d4d4;">
        <div style="margin: 0 auto; width: 900px">
            <div clotho-searchbar></div>
        </div>
    </div>
</div>
-->