<div>
    <section id="main" role="main" class="container">
        <div class="row">
            <ul class="col full multipleslideshows">
                <li><!-- slideshow 1 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic1.jpg" alt="" /></li>
                    </ul>
                </li>
                <li><!-- slideshow 2 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic2.jpg" alt="" /></li>
                    </ul>
                </li>
                <li><!-- slideshow 3 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic3.jpg" alt="" /></li>
                    </ul>
                </li>
                <li><!-- slideshow 4 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic4.jpg" alt="" /></li>
                    </ul>
                </li>
                <li><!-- slideshow 5 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic5.jpg" alt="" /></li>
                    </ul>
                </li>
                <li><!-- slideshow 6 -->
                    <ul class="slideshowContainer">
                        <li><img src="assets/pictures/pic6.jpg" alt="" /></li>
                    </ul>
                </li>
                <li class="titleField">
                    <h1>Putting the engineering into generic engineering</h1>
                    <ul>
                        <li>
                            <span class="name">J. Christopher Anderson</span>
                            Assistant Professor, Bioengineering<br />
                            University of California at Berkeley
                        </li>
                        <li>
                            <strong>Email:</strong><br />
                            <a href="mailto:jcanderson@berkeley.edu">jcanderson@berkeley.edu</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <div ng-include="'partials/sponsors.html'"></div>
</div>