<section id="main" role="main" class="container ng-cloak" ng-controller="PersonCtrl">
    <div class="row">
        <div class="col width4 leftCol">
            <ul class="shortStats">
                <li><img ng-src="assets/people/{{ indiv.icon }}" alt='{{ indiv.name }}'  style="max-width: 220px;"/></li>
                <li class="status"><span>Member Status:</span><span class="statusData">{{ indiv.startDate | date:'MMM, yyyy' }} - {{ indiv.endDate ? (indiv.endDate | date:'MMM, yyyy') : 'present' }}</span></li>
                <li class="location" ng-if="indiv.currentLocation"><span>Current Location:</span><span class="locationData">{{ indiv.currentLocation }}</span></li>
                <li class="email" ng-if="indiv.email"><span>Email:</span><span class="emailData">{{ indiv.email }}</span></li>
                <li class="socialLinks" ng-if="indiv.social.length">
                    <a ng-repeat="link in indiv.social" ng-href="link.url" ng-class="{{link.class}}"></a>
                </li>
            </ul>
        </div>
        <div class="col width12 mainCol">
            <h1>{{ indiv.givenName + ' ' + indiv.surName }}<span>{{ indiv.role }}</span></h1>
            <p>{{ indiv.biography }}</p>
            <hr />
            <h2>{{ indiv.title }}</h2>
            <p>{{ indiv.description }}</p>

        </div>
    </div>
</section>