<section id="sponsors" class="container">
    <div class="row">
        <div class="col full">
            <strong>Our founders and associations:</strong>
            <ul class="col full sponsorsList">
                <li><img src="assets/logos/sponsorLogos/agilent.png" alt="" /></li>
                <li><img src="assets/logos/sponsorLogos/synberc.png" alt="" /></li>
                <li><img src="assets/logos/sponsorLogos/nsf.png" alt="" /></li>
                <li><img src="assets/logos/sponsorLogos/darpa.png" alt="" /></li>
                <li><img src="assets/logos/sponsorLogos/cal.png" alt="" /></li>
                <li><img src="assets/logos/sponsorLogos/berkeleylab.png" alt="" /></li>
            </ul>
        </div>
    </div>
</section>