<!-- fourth way - transclude template from /extensions/ -->

<div>
    <h2>Transclude Template</h2>

    <p>Template is attached using ng-include and simply providing the template URL. A controller is added as well - It has the same controller name as the controllers used in Mixins, but has a different source (and sequence).</p>
    <p>This page also runs two simple scripts by listing a 'script' dependency - it will run every time the paver is loaded. Shows up in console.</p>
    <div class="alert alert-info alert-block"><h4>Component addition is idempotent</h4>The queue of registered components does not lengthen when attempting to re-add a component. As components are added, they overwrite the previous if they have the same name, and the last added compontent is used. In this case, whichever controller is loaded second will be used. This is an important consideration in mixing in cache-busting scripts.</div>

    <div ng-include="'extensions/revcomp.html'"></div>
</div>