<div ng-controller="clothoIntro_RestrictionDigestsCtrl">

    <p>Restriction enzymes are used to cut DNAs at specific sequences.  Clotho can predict where a DNA sequence will be cleaved by a particular enzyme.</p>


    <div class="row-fluid">
        <div class="alert alert-info span12">
        <h5>Select an enzyme to see where (if at all) it will cut the sequence:</h5>
            <form name="digestPlayground" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="enzSelect">Enzyme Name</label>
                    <div class="controls">
                        <select id="enzSelect" ng-options="enz as enz.name for (name, enz) in Digest.enzymes" ng-model="demo.digestEnz" popover="Try BamHI for an enzyme that cuts twice, or BsmbI for an enzyme that makes non-local cuts" popover-placement="right" popover-trigger="focus"></select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="digSites">{{ demo.digestEnz.name }} Sites</label>
                    <div class="controls">
                        <pre id="digSites" ng-model="demo.digestSeq" digest-highlight="demo.digestEnz"></pre>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>todo - how to use search bar</h2>

</div>