<div ng-controller="clothoIntro_scriptingIntroCtrl">


    <!-- note this isn't the normal way of writing a quiz, this is putting the template inline for a unique format-->
    <div class="alert alert-info">
        <h3>Revcomp via Scripting</h3>
        <p>Find the reverse complement of <code>{{ randomSequence }}</code> using the Search Bar</p>
        <div class="control-group" ng-class="{'success' : response.result, 'error' : response.result == false}">
            <div class="input-append">
                <input type="text" class="input-xlarge" ng-model="quizAnswer"/>
                <button class="btn" ng-click="gradeSimpleQuiz()" ng-disabled="!quizAnswer || submitted" ng-class="{'btn-success' : response.result, 'btn-danger' : response.result == false}">Submit Answer</button>
            </div>
        </div>
    </div>

    <button class="btn btn-info btn-large" ng-click="showMeHow()"><i class="icon-white icon-eye-open"></i> Show me how</button>

    <!--<button class="btn" ng-click="showHelpTips()" >Show Tips</button>

    <button class="btn" popover="from the mouseenter button" popover-element-position="#searchBarInput" popover-show-bypass="true" popover-append-to-body="true" popover-trigger="mouseenter">Popover</button>-->

</div>