<div class="cf-step">
  <div class="cf-step-overview clearfix">
    <h5 class="cf-step-reaction">{{reaction.readable}}</h5>
    <span class="cf-step-output"
          ng-class="{'isComputed' : file.dictionary[step.output], 'isSelected' : forceOpenOutput}"
          sequence-popup
          ng-click="forceOpenOutput = !forceOpenOutput"
          sequence-popup-open="{{forceOpenOutput}}"
          sequence-popup-title="{{step.output}}"
          sequence-popup-model="file.dictionary[step.output]"
          sequence-popup-placement="topLeft">
        {{step.output}}
      </span>
  </div>
  <div class="cf-step-details">
    <div construction-step-inner></div>
  </div>
</div>