<div class="construction-file panel panel-default">
  <div class="cf-heading panel-heading">
    <h4 class="cf-title panel-title">{{file.name || 'Construction File Simulation'}}</h4>
    <p ng-show="file.description" ng-bind="file.description"></p>
  </div>

  <!--<div class="cf-overview">
    <ul class="cf-overview-steps pagination">
      <li ng-repeat="step in file.steps" class="cf-overview-step">
        <a>{{$index + 1}}</a>
      </li>
    </ul>
  </div>-->

  <div ng-repeat="step in file.steps"
       construction-step></div>

  <pre ng-bind="file.dictionary | json"></pre>
</div>