<div class="form-group">
    <label class="control-label" for="functionName">Name</label>
        <input type="text" id="functionName" ng-model="sharable.name" ng-disabled="!editMode">
</div>

<div class="form-group">
    <label class="control-label" for="functionId">ID</label>
        <input type="text" id="functionId" ng-model="sharable.id" disabled>
</div>

<div class="form-group">
    <label class="control-label" for="functionDesc">Description</label>
        <textarea type="text" id="functionDesc" class="input-lg" ng-model="sharable.description" style="width: 100%; height: 3em" ng-disabled="!editMode"></textarea>
</div>