<div ng-hide="editMode">
    <button class="btn" type="button" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i> Edit</button>
    <button type="button" class="btn btn-inverse" ng-click="logScope()">Log</button>
</div>
<div ng-show="editMode">
    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="formCtrl.$invalid"><i class="glyphicon glyphicon-white glyphicon glyphicon-ok-sign"></i> Save</button>
    <button type="button" class="btn btn-warning" ng-click="discard()"><i class="glyphicon glyphicon-white glyphicon glyphicon-backward"></i> Discard</button>
    <button type="button" class="btn btn-warning" ng-click="reset()"><i class="glyphicon glyphicon-white glyphicon glyphicon-refresh"></i> Reset</button>
    <button type="button" class="btn btn-danger" ng-click="destroy()"><i class="glyphicon glyphicon-white glyphicon glyphicon-trash"></i> Destroy</button>

</div>