<div ng-show="showJsonEditor && editMode" style="margin: 0 15px;">
  <form-field name="Edit JSON directly">
    <textarea json-edit="$parent.$parent.$parent.sharable" rows="20"></textarea>
  </form-field>
  <hr>
</div>

<div ng-hide="editMode">
    <button class="btn btn-primary" type="button" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i> Edit</button>
</div>

<div ng-show="editMode">
  <button type="button" class="btn btn-default" ng-click="toggleJsonEdit()"><i class="glyphicon glyphicon-edit"></i> Edit JSON</button>
    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="formCtrl.$invalid"><i class="glyphicon glyphicon-white glyphicon-ok-sign"></i> Save</button>
    <button type="button" class="btn btn-warning" ng-click="discard()"><i class="glyphicon glyphicon-white glyphicon-backward"></i> Discard</button>
    <button type="button" class="btn btn-warning" ng-click="reset()"><i class="glyphicon glyphicon-white glyphicon-refresh"></i> Reset</button>
    <button type="button" class="btn btn-danger" ng-click="destroy()"><i class="glyphicon glyphicon-white glyphicon-trash"></i> Destroy</button>
</div>