<div ng-controller="Editor_FunctionCtrl">
    <legend>Function Editor</legend>
    <div class="ng-cloak">

        <fieldset ng-disabled="!editMode">
            <div ng-include="_objBaseFields"></div>

            <form-field name="Language">
                <select id="functionLang" ng-model="sharable.language" ng-options="lang.value as lang.name for lang in langTypes" required></select>
            </form-field>

            <form-field name="Precondition">
                <textarea type="text" id="functionPre" class="input-lg" ng-model="sharable.precondition" rows="3"></textarea>
            </form-field>

            <div class="form-group">
                <label class="control-label">Dependencies</label>
                <div ng-repeat="param in sharable.dependencies" class="pull-left">
                    <div class="input-group">
                        <input type="text" class="input-xlarge" ng-model="param">
                        <button class="btn" ng-click="sharable.dependencies.splice($index, 1)">&times;</button>
                    </div>

                </div>
                <button class="btn pull-right" type="button" ng-click="addDep()"><i class="glyphicon glyphicon-plus"></i></button>
            </div>


            <div class="form-group">
                <label class="control-label">Arguments</label>
                <div ng-repeat="param in sharable.args" class="pull-left">
                    <select ng-model="param.type" class="col-xs-2" ng-disabled="!editMode" ng-options="c.name as c.name group by c.category for c in paramTypes">
                    </select>
                    <!-- see http://jsfiddle.net/M32pj/1/ for another select directive-->

                    <!--<input type="text" ng-model="param.type" typeahead="type for type in paramTypes | filter:$viewValue" ng-disabled="!editMode">-->

                    <div class="input-group">
                        <input type="text" ng-model="param.name" ng-disabled="!editMode">
                        <button class="btn" ng-click="sharable.args.splice($index, 1)" ng-disabled="!editMode">&times;</button>
                    </div>

                </div>
                <button class="btn pull-right" type="button" ng-click="addArg()" ng-disabled="!editMode"><i class="glyphicon glyphicon-plus"></i></button>
            </div>


            <textarea ui-codemirror="codemirrorEditorOptions" id="functionCode" ng-model="sharable.code" style="position: relative; width: 100%; height: 9em" ng-disabled="!editMode" required></textarea>

            <div function-code-drop update-on-read="sharable.code"></div>

        </fieldset>


        <h3 class="text-center">
            Tests
            <div class="btn-group">
                <button class="btn btn-sm" ng-click="runAllTests()" ng-disabled="editMode || form.$invalid || sharable.tests.length < 1">Run All</button>
            </div>
            <button class="btn pull-right" type="button" ng-click="addTest()" ng-disabled="!editMode"><i
                    class="glyphicon glyphicon-plus"></i></button>
        </h3>

        <div ng-repeat="test in sharable.tests">
            <div class="form-group">
                <label class="control-label" for="functionTestArg{{$index}}">Test Arguments</label>
                    <button class="btn pull-right" ng-click="sharable.tests.splice($index, 1)" ng-disabled="!editMode">&times;</button>
                    <div ng-repeat="param in sharable.args">
                        <div ng-if="simpleTypes[param.type]">
                            <input type="text" id="functionTestArg{{$index}}" ng-model="test.args[$index]" ng-disabled="!editMode">
                        </div>
                        <div ng-if="!simpleTypes[param.type]">
                            <input type="text" id="functionTestArg{{ $index }}" ng-model="test.args[$index]" typeahead="opt as opt.name for opt in querySchemaWrapper(param.type) | filter:$viewValue" typeahead-min-length="0" popover="{{ testPopoverText($index) }}" popover-trigger="mouseenter" ng-disabled="!editMode">
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="functionTestResult{{ $index }}">Expected Output</label>
                    <select ng-model="test.output.type" class="col-xs-2" ng-disabled="!editMode" ng-options="t.value as t.name for t in outputTypes">
                    </select>
                    <input type="text" id="functionTestResult{{ $index }}" ng-model="test.output.value" ng-disabled="!editMode">
                    <button class="btn" ng-click="singleTest($index)" ng-disabled="editMode || form.$invalid" ng-class="{'btn-success' : testResults[$index] === true, 'btn-danger' : testResults[$index] === false}">Test</button>
            </div>
        </div>


        <div ng-include="_formActions"></div>
    </div>
</div>