<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>Share This Page</h3>
</div>
<div class="modal-body">
    <div style="margin: 0 auto; width: {{ (social.length*64) + ((social.length - 1) * 5 ) }}px">
        <img ng-repeat="site in social"
             ng-src="interface/socialmedia/{{site.name}}.png"
             ng-click="share(site)"
             ng-style="$last ? '' : {'padding-right': '5px'}"
             class="hoverFade" />
    </div>
</div>
