<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3>Clotho Login</h3>
</div>
<div class="modal-body">
    <form name="loginForm" class="form-horizontal">
        <div class="control-group"  ng-class="{error: loginForm.username.$invalid}">
            <label class="control-label" for="inputUsername">Username</label>
            <div class="controls">
                <input type="text" name="username" id="inputUsername" placeholder="Username" ng-model="cred.username" required>
            </div>
        </div>
        <div class="control-group"  ng-class="{error: loginForm.password.$invalid}">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" name="password" id="inputPassword" placeholder="Password" ng-model="cred.password" required>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn" ng-click="login()" ng-disabled="loginForm.$invalid">Sign in</button>
            </div>
        </div>
    </form>
</div>
