<div ng-controller="TrailQuizCtrl" ng-init="createEmptyAnswer(quiz)">

    <h3>{{quiz.title}}</h3>
    <p>{{quiz.question}}</p>
    <ol>
        <li ng-repeat="choice in quiz.options">
            <p><button class="btn" ng-class="{'btn-info': quiz.answer[$index]}" ng-click="quiz.answer[$index] = !quiz.answer[$index]"><i class="icon-check"></i></button> {{choice}}</p>
        </li>
    </ol>

    <p>Your answer: {{quiz.answer}}</p>

    <button class="btn" ng-click="submitQuestion(quiz)" ng-disabled="!quiz.answer">Submit Answer</button>

    <h3 ng-if="quiz.response" ng-class="{'text-success' : quiz.response.result, 'text-error' : !quiz.response.result}">{{quiz.response.result}}</h3>

</div>