/***************
CLOTHO GLOBAL VARIABLES
***************/

/** LAYOUT **/

$width-container: 992px;


/*** COLORS ***/

$c-text : #272727;

$bg-body-light: #FFFFFF;
$bg-body-gray: #EEEEEE;
$bg-body-black: #272727;


