/***************
CLOTHO GLOBAL VARIABLES
***************/

/** LAYOUT **/

$width-container: 992px;


/*** COLORS ***/

$c-text : #272727;

$bg-body-light: #FFFFFF;
$bg-body-gray: #EEEEEE;
$bg-body-black: #272727;


$color-token-noModel : #cecece;
$color-token-default : #5bc0de;
$color-token-active : #eeddbb;
$color-token-sharable : #5bdec0;
$color-token-ambiguous : #de5bc0;