<div class="col-xs-4" construction-field="Template" ng-model="step.input[0]" construction-dictionary="dict" construction-editable="editable" construction-stepindex="index"></div>

<div class="col-xs-4" construction-field="Primer 1" ng-model="step.input[1][0]" construction-dictionary="dict" construction-editable="editable" construction-stepindex="index"></div>

<div class="col-xs-4" construction-field="Primer 2" ng-model="step.input[1][1]" construction-dictionary="dict" construction-editable="editable" construction-stepindex="index"></div>