#clotho_command_autocomplete {
  @extend .dropdown;
  z-index: 1001;
  float: left;
  left: 15px;
  top: 38px;
  position: absolute;
  display: block;
}

#clotho_command_autocompleteList {
  @extend .dropdown-menu;
  width: 315px;
  display: inline-block;
}

#clotho_command_autocompleteListClose {
  @extend .close;
  position: absolute;
  top: 0;
  right: 5px;
}

.clotho_command_autocompleteItem {
  padding-left:28px;
  padding-right: 20px;
}

#clotho_command_autcompleteDetail {
  @extend .popover;
  display: inline;
  max-width: 400px;
  width: 400px;
  float: left;
  z-index: 1001; /*bootstrap dropdown-menu is 1000*/
  position: absolute;
  left: 350px;
}