//todo - major refactor (esp move away from id)

#clotho_command_inputWrapper {
  @extend .input-group;
  width: 435px;
  padding-left: 0px;
  float: left;
}

#clotho_command_input {
  @extend .form-control;
  background: #FFFFFF url('../../images/iconSlice.png') no-repeat 6px 8px;
  padding-left: 28px;
}

#clotho_command_submitWrapper {
  @extend .input-group-btn;
}

#clotho_command_submit {
  @extend .btn;
  @extend .btn-default;
}

#clotho_logButtonContainer {
  display: inline-block;
  float: left;
  margin-left: 10px;
  position: relative;
}

#clotho_logButton {
  @extend .btn;
  @extend .btn-default;
}

#clotho_logSnippet {
  padding: 0px 12px;
  margin: 0 10px 0 15px;
  line-height: 2em;
  max-width: 325px;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  display: inline;
}
