#clotho_command_inputWrapper {
  @extend .input-group;
  width: 435px;
  padding-left: 0px;
  float: left;
}

#clotho_command_input {
  @extend .form-control;
  background: #FFFFFF url('../../images/iconSlice.png') no-repeat 6px 8px;
  padding-left: 28px;
}

#clotho_command_submitWrapper {
  @extend .input-group-btn;
}

#clotho_command_submit {
  @extend .btn;
  @extend .btn-default;
}