.clothoTokenWrap {
  @extend .label;
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  margin: 1px 3px;

  //same size as input
  &.large {
    padding: 8px;
    font-size: 1em;
  }

  .active > & {
    background-color: $brand-primary;
    box-shadow: 0 0 8px $input-border-focus;
  }
}

.clothoTokenText,
.clothoTokenType
.clothoTokenClose {
  line-height: 14px;
}

.clothoTokenType {
  padding: 6px 0;
}
