.clothoTokenizerWrap {
  display: block;
  width: 100%;
}

.clothoTokenizerInputWrap {
  display: block;
  width: 100%;
  padding: 4px 8px 4px 24px;
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px 0 0 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  .clothoIcon {
    display: block;
    position: absolute;
    left: 9px;
    top: 9px;
    width: 14px;
    height: 14px;
    background: url('../../images/iconSlice.png') no-repeat -3px 0px;
  }

  &.focused {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.clothoTokenizerSubmit {
  @extend .btn;
  @extend .btn-default;
  //hack
  height: 34px;
}

.clothoTokenizerTokens {
  display: inline;
  max-width: 410px
}

.clothoAutocompleteWrap {
  display: inline-block;
  position: relative;
  padding: 1px;
  width: 1px;
  overflow: visible;
}

.clothoAutocomplete {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  background-color: transparent;
}

.clothoAutocompleteListing {
  @extend .dropdown-menu;
  width: 300px;
}

.clothoAutocompleteMatch {
  display: block;
}