clotho-reference-tokenizer {
  .form-group {
    margin: 0;
  }
}

//tokenizer - input group

//note - doesn't work if anything appears before the input element itself
.clotho-input-group {

  input {
    padding-left: 26px;
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 9px;
    top: 10px;
    width: 14px;
    height: 14px;
    padding-right: 9px;
    line-height: 34px;
    z-index: 3;
    text-align: center;
    background: url('../../images/iconSlice.png') no-repeat -3px 0px;
  }
}

//tokenizer - tokens

.clothoReferenceToken {
  //copied from bootstrap, but don't want other baggage of input-group-addon
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
  padding: 0;

  .clothoToken-inner {
    padding: 6px;
    font-size: inherit;
    font-weight: normal;
    border-radius: 0;
    border-style: solid none;
    border-width: 1px;
    border-color: $input-group-addon-border-color;
  }

  .clothoToken-type {
    padding: 6px 3px;
  }
}


//tokenizer - autocomplete

//todo - add more custom styling
.clothoAutocompleteListing {
  @extend .dropdown-menu;
  width: 300px;
}

.clothoAutocompleteMatch {
  display: block;
}

.input-disabled {
  background-color: $input-bg-disabled;
}
