<div>

    <h5 ng-bind="quiz.question"></h5>


    <!--todo ---- paragraph with multiple t/fs-->


    <div class="input-group">
        <span class="input-group-addon" ng-if="quiz.hint" popover="{{ quiz.hint }}" popover-trigger="mouseenter"><i
                class="glyphicon glyphicon-info-sign"></i></span>
        <button class="btn" ng-click="submitQuestion(quiz)" ng-disabled="answerUndefined(quiz) || quiz.submitted" ng-class="{'btn-success' : quiz.response.result, 'btn-danger' : quiz.response.result == false}">Submit Answer</button>
        <button class="btn" ng-click="retryQuiz()" ng-if="quiz.submitted && !quiz.response.result" ng-class="{'btn-success' : quiz.response.result, 'btn-danger' : quiz.response.result == false}">Retry</button>
    </div>

    <span class="alert alert-success help-inline quizResult"
            ng-if="quiz.response.result"><i class="glyphicon glyphicon-ok"></i> Correct!</span>
    <span class="alert alert-danger help-inline quizResult"
            ng-if="quiz.response && !quiz.response.result"><i class="glyphicon glyphicon-remove"></i> Nope...</span>

</div>