<div class="clothoTokenizerWrap">
  <div class="clothoTokenizerInputWrap" ng-click="focusInput()" ng-class="{'focused' : hasFocus}">
    <div class="clothoIcon"></div>

    <span ng-bind="soFar"></span>

    <div class="clothoTokenizerAutocompleteWrap clothoAutocompleteWrap">
      <input type="text"
             clotho-reference-autocomplete
             class="clothoAutocomplete"
             ng-model="query"
             ng-trim="false"
             auto-grow
             placeholder="type query"
             autocomplete-trigger="true"
             autocomplete-trigger-include="false"
             autocomplete-has-focus="hasFocus"
             autocomplete-on-enter="submit()"
             autocomplete-popup-position="topLeft">
    </div>
  </div>
  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="submit()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </span>
</div>

