<div class="clothoTokenizerWrap">
  <div class="clothoTokenizerInputWrap" ng-click="focusInput()" ng-class="{focused : hasFocus}">
    <div class="clothoIcon"></div>
    <div class="clothoTokenizerTokens">
      <clotho-token ng-repeat="token in tokenCollection.tokens track by $index"
                    token="token"
                    token-active-pass="{{tokenCollection.currentTokenIndex == $index}}"
                    on-click="toggleTokenActive($index, $event)"
                    on-remove="removeToken($index, $token)"></clotho-token>
    </div>

    <div class="clothoTokenizerAutocompleteWrap clothoAutocompleteWrap">
      <input type="text"
             clotho-autocomplete
             auto-grow
             ng-model="query"
             ng-trim="false"
             class="clothoAutocomplete"
             placeholder="{{placeholder}}"
             token-collection="tokenCollection"
             autocomplete-on-select="addToken($item, $query)">
    </div>
  </div>
</div>

