<div class="container" dark-background>
  <div class="teamIntro">
    <h2>The Clotho Team</h2>
  </div>

  <div class="row">
    <article class="col-sm-6 profile" ng-repeat="person in ClothoTeam | orderBy:'surName'" >
      <div class="profile-header">
        <img ng-src="{{ (person.icon) ? person.icon :  'images/assets/user-default.png' }}" alt="{{person.name}}" class="img-circle">
      </div>

      <div class="profile-content">
        <h3>{{person.name}}</h3>
        <p class="lead position">{{person.title}}</p>
        <p class="description" ng-bind="person.description | limitTo:600"></p>
      </div>
    </article>
  </div>
</div>